<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TTAP</title>
    <link rel="stylesheet" href="/customcss/banhang.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div th:replace="~{/fragment/sidebar :: sidebar}"></div>
    <div class="main-content content flex-grow-1 p-4">
    <h2 class="text-center">Quản lý khách hàng</h2>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Danh sách Khách hàng</h3>
                    </div>
                    <div class="box-tools">
                        <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                            <form th:action="@{/TTAP/KhanhHang/find}" method="get" th:border="1">
                                <input type="text" placeholder="tìm kiếm" name="name">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr style="background-color: lightskyblue">
                                <th>#</th>
                                <th>Họ và tên</th>
                                <th>Giới tính</th>
                                <th>Số điện thoại</th>
                                <th>Email</th>
                                <th>Tài khoản</th>
                                <th>Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user, stt : ${cus}">
                                <td th:text="${stt.index + 1}"></td>
                                <td th:text="${user.hoTen}"></td>
                                <td>
                                    <span th:switch="${user.gioiTinh}">
                                        <span th:case="true">Nam</span>
                                        <span th:case="false">Nu</span>
                                    </span>
                                </td>
                                <td th:text="${user.soDienthoai}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.username}"></td>
                                <td>
                                    <span th:switch="${user.enable}">
                                    <span th:case="true">Hoạt động</span>
                                    <span th:case="false">Ngưng hoạt động</span>
                                </span>
                                </td>
                                <td>
                                    <a class="btn btn-danger" th:href="@{/admin/users/deactivate/{id}(id = ${user.id})}">
                                                                        <span class="glyphicon glyphicon-trash"></span></a>
                                    <a class="btn btn-primary" th:href="@{/admin/users/detail/{id}(id = ${user.id})}">
                                                                        <span class="glyphicon glyphicon-pencil"></span></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li th:classappend="${cus.hasPrevious()} ? '' : 'disabled'">
                                <a th:href="${cus.hasPrevious()} ? @{/admin/users/view(p=${cus.number - 1})} : '#'" aria-label="Previous">«</a>
                            </li>
                            <li th:each="i : ${#numbers.sequence(0, cus.totalPages - 1)}" th:classappend="${cus.number == i} ? 'active'">
                                <a th:href="@{/admin/users/view(p=${i})}" th:text="${i + 1}">1</a>
                            </li>
                            <li th:classappend="${cus.hasNext()} ? '' : 'disabled'">
                                <a th:href="${cus.hasNext()} ? @{/admin/users/view(p=${cus.number + 1})} : '#'" aria-label="Next">»</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Default box -->
        <!-- /.box -->

    </section>
</div>
</body>
</html>


