<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    <a class="btn btn-primary" href="/TTAP/User/newKh">Them</a>
    <div class="row justify-content-end">
        <div class="col-4">
            <form th:action="@{/TTAP/User/customer/find}" method="get" th:border="1">
                <input type="text" placeholder="tìm kiếm" name="name">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
            </form>
        </div>
    </div>
    <div>
        <h1>Danhh sách người dùng</h1>
        <table border="1" class="table">
            <thead>
                <th>#</th>
                <th>Họ và tên</th>
                <th>Giới tính</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Chức vụ</th>
                <th>Trạng thái</th>
                <th>ngày tạo</th>
                <th>ngày tạo</th>
                <th>Thao tác</th>
            </thead>
            <tbody>
                <tr th:each="user, stt : ${cusLst}">
                    <td th:text="${stt.index + 1}"></td>
                    <td th:text="${user.hoTen}"></td>
                    <td>
                        <span th:switch="${user.gioiTinh}">
                            <span th:case="true">Nam</span>
                            <span th:case="false">Nu</span>
                        </span>
                    </td>
                    <td th:text="${user.soDienthoai}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.cv.ten}"></td>
                    <td th:text="${user.trangThai}"></td>
                    <td th:text="${user.ngayTao}"></td>
                    <td th:text="${user.ngaySua}"></td>
                    <td>
                        <a class="btn btn-danger" th:href="@{/TTAP/User/deletekh/{id}(id = ${user.id})}">Xóa</a>
                        <a class="btn btn-primary" th:href="@{/TTAP/User/detailKh/{id}(id = ${user.id})}">Thông tin chi tiết</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>