<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/head :: head}"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="~{/fragment/header :: header}"></div>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <div th:replace="~{/fragment/aside :: aside}"></div>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Bán hàng tại quầy
                <small>it all starts here</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Blank page</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="col-xs-12">
                <div class=" box">
                    <div class="container">
                        <h1 class="text-center">Khuyến mãi</h1>
                        <form th:action="@{/admin/khuyen-mai/update/{id}(id=${listDetail.id})}" method="post">
                            <div class="mb-3">
                                <label class="form-label">Tên khuyến mãi</label>
                                <input type="text" class="form-control" th:field="*{listDetail.ten}" id="ten">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Ngày bắt đầu</label>
                                <input type="date" class="form-control" th:field="*{listDetail.ngayBatDau}" id="ngayBatDau">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Ngày kết thúc</label>
                                <input type="date" class="form-control" th:field="*{listDetail.ngayKetThuc}" id="ngayKetThuc">
                            </div>

                            <div class=" d-flex">

                                <div class="mb-3 col-8">
                                    <label class="form-label">Giá trị giảm</label>
                                    <input type="number" class="form-control" th:field="*{listDetail.giaTriGiam}" id="giaTriGiam">
                                </div>
                                <div class="col-1">

                                </div>

                                <div class="mb-3 col-3">
                                    <label class="form-label">Hình thức</label>
                                    <select class="form-select" th:field="*{listDetail.hinhThuc}">
                                        <option value="VND">VND</option>
                                        <option value="%">%</option>
                                    </select>
                                </div>

                            </div>

                            <label class="form-label">Trạng thái</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" th:field="*{listDetail.trangThai}" id="flexRadioDefault1" value="Hoạt động" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Hoạt động
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" th:field="*{listDetail.trangThai}" id="flexRadioDefault2" value="Ngưng hoạt động">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Ngưng hoạt động
                                </label>
                            </div>

                            <a href="/admin/ttap-tshirt" class="btn btn-primary">Quay lại</a>
                            <button class="btn btn-primary">Sửa</button>
                        </form>

                        <br>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Tên</th>
                                <th scope="col">Ngày bắt đầu</th>
                                <th scope="col">Ngày kết thúc</th>
                                <th scope="col">Giá trị giảm</th>
                                <th scope="col">Hình thức</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Hành động</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="km : ${listKM}">
                                <td th:text="${km.ten}"></td>
                                <td th:text="${km.ngayBatDau}"></td>
                                <td th:text="${km.ngayKetThuc}"></td>
                                <td th:text="${km.giaTriGiam}"></td>
                                <td th:text="${km.hinhThuc}"></td>
                                <td th:text="${km.trangThai}"></td>
                                <td>
                                    <a class="btn btn-danger" th:href="@{/admin/khuyen-mai/delete/{id}(id=${km.id})}">Đổi trạng thái</a>
                                    <a class="btn btn-primary"  th:href="|/admin/khuyen-mai/detail/${km.id}|">Detail</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

            <div class="mb-3 col-3">
                <label class="form-label">Hình thức</label>
                <select class="form-select" th:field="*{listDetail.hinhThuc}">
                    <option value="1">VND</option>
                    <option value="2">%</option>
                </select>
            </div>

        </div>

        <label class="form-label">Trạng thái</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" th:field="*{listDetail.trangThai}" id="flexRadioDefault1" value="Hoạt động" checked>
            <label class="form-check-label" for="flexRadioDefault1">
                Hoạt động
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" th:field="*{listDetail.trangThai}" id="flexRadioDefault2" value="Ngưng hoạt động">
            <label class="form-check-label" for="flexRadioDefault2">
                Ngưng hoạt động
            </label>
        </div>
        <h5 class="text-danger mt-3 mb-3 errorMessage">[[${errorMessage}]]</h5>
        <a th:href="@{/admin/khuyen-mai/hien-thi}" class="btn btn-primary">Quay lại</a>
        <button class="btn btn-warning">Sửa</button>
    </form>
    <div th:replace="~{/fragment/footer :: footer}"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<div th:replace="~{/fragment/script :: script}"></div>
</body>
</html>
