<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/head :: head}"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="~{/fragment/header :: header}"></div>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <div th:replace="~{/fragment/aside :: aside}"></div>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Bán hàng tại quầy
                <small>it all starts here</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Blank page</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="col-xs-12">
                <div class=" box">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col">
                                            <input type="search" id="form1" class="form-control" placeholder="Tìm kiếm nhà sản xuất" />
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn btn-primary">Tìm kiếm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row align-items-center my-4">
                                        <div class="col">
                                            <span style="font-size: 20px;">Danh sách nhà sản xuất</span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="input-group-append ml-3">
                                                <button class="btn btn-primary rounded" data-bs-toggle="modal" data-bs-target="#sizeModal">
                                                    Tạo nhà sản xuất
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-borderless table-hover">
                                        <thead>
                                        <tr style="background-color: lightskyblue">
                                            <th>STT</th>
                                            <th>Mã màu</th>
                                            <th>Tên nhà sản xuất</th>
                                            <th>Hành động</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="mausac, i : ${listNSX}">
                                            <td th:text="${i.index + 1}"></td>
                                            <td th:text="${mausac.ma}"></td>
                                            <td th:text="${mausac.ten}"></td>
                                            <td>
                                                <a class="btn btn-success" th:href="@{/admin/nsx/update/{id}(id=${mausac.id})}">Sửa</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <nav aria-label="Table Paging" class="my-3 d-flex justify-content-center">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link"><<</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link">>></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Thêm -->
                    <div class="modal fade" id="sizeModal" tabindex="-1" aria-labelledby="sizeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="sizeModalLabel">Thêm mới nhà sản xuất</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{/admin/nsx/add}" th:object="${nhaSanXuat}" method="post">
                                        <div class="form-group">
                                            <label for="ma">Mã nhà sản xuất:</label>
                                            <input type="text" class="form-control" id="ma" name="ma" placeholder="Nhập mã nhà sản xuất" />
                                        </div>
                                        <div class="form-group">
                                            <label for="ten">Tên nhà sản xuất:</label>
                                            <input type="text" class="form-control" id="ten" name="ten" placeholder="Nhập tên nhà sản xuất" />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                            <button type="submit" class="btn btn-primary">Thêm</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="~{/fragment/footer :: footer}"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<div th:replace="~{/fragment/script :: script}"></div>
</body>
</html>
