<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/head :: head}"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="~{/fragment/header :: header}"></div>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <div th:replace="~{/fragment/aside :: aside}"></div>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Bán hàng tại quầy
                <small>it all starts here</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Blank page</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Danh sách thương hiệu</h3>
                        </div>

                        <div class="box-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr style="background-color: lightskyblue">
                                    <th>STT</th>
                                    <th>Mã màu</th>
                                    <th>Tên thương hiệu</th>
                                    <th>Hành động</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="chatlieu, i : ${listThuongHieu}">
                                    <td th:text="${i.index + 1}"></td>
                                    <td th:text="${chatlieu.ma}"></td>
                                    <td th:text="${chatlieu.ten}"></td>
                                    <td>
                                        <a class="btn btn-success" th:href="@{/admin/thuong-hieu/update/{id}(id=${chatlieu.id})}">Sửa</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="#">«</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" box">
                        <!-- Thêm -->
                        <form th:action="@{/admin/thuong-hieu/add}" th:object="${chatLieu}" method="post">
                            <div class="form-group">
                                <label for="ma">Mã thương hiệu:</label>
                                <input type="text" class="form-control" id="ma" name="ma" placeholder="Nhập mã thương hiệu" />
                            </div>
                            <div class="form-group">
                                <label for="ten">Tên thương hiệu:</label>
                                <input type="text" class="form-control" id="ten" name="ten" placeholder="Nhập tên thương hiệuthương hiệu" />
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Thêm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Default box -->

            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="~{/fragment/footer :: footer}"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<div th:replace="~{/fragment/script :: script}"></div>
</body>
</html>
