<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quản lý thương hiệu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row justify-content-center">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col">
                        <input type="search" id="form1" class="form-control" placeholder="Tìm kiếm thương hiệu" />
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-body">
                <div class="row align-items-center my-4">
                    <div class="col">
                        <span style="font-size: 20px;">Danh sách thương hiệu</span>
                    </div>
                    <div class="col-auto">
                        <div class="input-group-append ml-3">
                            <button class="btn btn-primary rounded" data-bs-toggle="modal" data-bs-target="#sizeModal">
                                Tạo thương hiệu
                            </button>
                        </div>
                    </div>
                </div>
                <table class="table table-borderless table-hover">
                    <thead>
                    <tr style="background-color: lightskyblue">
                        <th>STT</th>
                        <th>Mã màu</th>
                        <th>Tên thương hiệu</th>
                        <th>Hành động</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="chatlieu, i : ${listThuongHieu}">
                        <td th:text="${i.index + 1}"></td>
                        <td th:text="${chatlieu.ma}"></td>
                        <td th:text="${chatlieu.ten}"></td>
                        <td>
                            <a class="btn btn-success" th:href="@{/admin/thuong-hieu/update/{id}(id=${chatlieu.id})}">Sửa</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <nav aria-label="Table Paging" class="my-3 d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link"><<</a>
                </li>
                <li class="page-item">
                    <a class="page-link">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link">>></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- Thêm -->
<div class="modal fade" id="sizeModal" tabindex="-1" aria-labelledby="sizeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sizeModalLabel">Thêm mới thương hiệu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/admin/thuong-hieu/add}" th:object="${chatLieu}" method="post">
                    <div class="form-group">
                        <label for="ma">Mã thương hiệu:</label>
                        <input type="text" class="form-control" id="ma" name="ma" placeholder="Nhập mã thương hiệu" />
                    </div>
                    <div class="form-group">
                        <label for="ten">Tên thương hiệu:</label>
                        <input type="text" class="form-control" id="ten" name="ten" placeholder="Nhập tên thương hiệuthương hiệu" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
