<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/head :: head}"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="~{/fragment/header :: header}"></div>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <div th:replace="~{/fragment/aside :: aside}"></div>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Bán hàng tại quầy
                <small>it all starts here</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Blank page</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="col-xs-12">
                <div class=" box">
                    <div class="container my-4">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="card shadow">
                                    <div class="card-header">
                                        <h5 class="card-title">Chỉnh sửa kích cỡ</h5>
                                    </div>
                                    <div class="card-body">
                                        <form th:action="@{/admin/kich-co/update-kich-co/{id}(id=${kichCo.id})}" th:object="${kichCo}" method="post">
                                            <div class="form-group">
                                                <label> Mã kích cỡ:</label>
                                                <input type="text" class="form-control" name="ma" th:value="${kichCo.ma}"  placeholder="Nhập mã kích cỡ" />
                                            </div>
                                            <div class="form-group">
                                                <label> Tên kích cỡ:</label>
                                                <input type="text" class="form-control" name="ten" th:value="${kichCo.ten}" placeholder="Nhập tên kích cỡ" />
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Sửa</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="~{/fragment/footer :: footer}"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<div th:replace="~{/fragment/script :: script}"></div>
</body>
</html>
