<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TTAP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/customcss/banhang.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="/customcss/toastMessage.css ">
</head>
<body>

<div class="d-flex">

    <!-- Sidebar using Thymeleaf fragment -->
    <div th:replace="~{/fragment/sidebar :: sidebar}"></div>

    <div class="main-content content flex-grow-1 p-4">
        <h2 class="text-center">Bán Hàng Tại Quầy</h2>
        <hr>
        <input type="hidden" id="hoaDonID" th:value="${hoadon.id}">

        <div class="d-flex">
            <a th:href="@{/admin/ban-hang}" class="fw-medium fs-5 text-black" style="text-decoration:none">Bán hàng</a>
            <a>&nbsp / &nbsp</a>
            <a href="" class="fw-bolder fs-5 text-black" style="text-decoration: none">Chi tiết hóa đơn</a>
        </div>
        <div id="toast-root"></div>
        <div>
            <h1 th:text="'Mã Hóa Đơn: '+${hoadon.ma}"></h1>
            <input type="hidden" id="lengthlistHDCT" th:value="${listHDCT.size()}" readonly>
            <label th:text="'Số chi tiết sản phẩm: '+${listHDCT.size()}"></label>
        </div>

        <br/>
        <div class="row" style="justify-content: center">
            <div class="cart col-6"
                 style="height: 800px; background-color: var(--bs-info-bg-subtle); margin-right: 30px; overflow-y: auto; padding: 20px">
                <div class="row">
                    <h3 class="col-6">Sản Phẩm</h3>
                    <button class="col-3 btn btn-primary" id="btn-select-products" data-bs-toggle="modal"
                            data-bs-target="#modalAddSP">Thêm Sản
                        Phẩm
                    </button>


                    <!-- Modal Sản Phẩm -->
                    <div class="modal fade" th:id="'modalAddSP'" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered"
                             id="modal-dialog"
                             style="max-width: 90%;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Chọn sản phẩm muốn mua vào hóa
                                        đơn</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <form class="row" th:action="@{/admin/ban-hang/hoa-don/chi-tiet}" method="get" id="form-search-product">
                                            <input class="col-7" type="text" name="tenSP" th:value="${tenSP}">
                                            <input class="col-7" type="hidden" name="hoadonId" th:value="${hoadon.id}">
                                            <button class="col-1 btn btn-primary" type="submit">Tìm kiếm
                                            </button>
                                        </form>
                                    </div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Ma San Pham</th>
                                            <th scope="col">Ten San Pham</th>
                                            <th scope="col">Thuong Hieu</th>
                                            <th scope="col">NSX</th>
                                            <th scope="col">Chat Lieu</th>
                                            <th scope="col">Kich Co</th>
                                            <th scope="col">Mau Sac</th>
                                            <th scope="col">Số Lượng Tồn</th>
                                            <th scope="col">Giá bán</th>
                                            <th scope="col">Số lượng mua</th>
                                            <th scope="col">Hành động</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="ctsp, stat : ${listCTSP}">
                                            <td th:text="${stat.index+1}"></td>
                                            <th scope="row" th:text="${ctsp.sanPham.ma}"></th>
                                            <td th:text="${ctsp.sanPham.ten}"></td>
                                            <td th:text="${ctsp.sanPham.thuongHieu.ten}"></td>
                                            <td th:text="${ctsp.sanPham.nsx.ten}"></td>
                                            <td th:text="${ctsp.sanPham.chatLieu.ten}"></td>
                                            <td th:text="${ctsp.kichCo.ten}"></td>
                                            <td th:text="${ctsp.mauSac.ten}"></td>
                                            <td th:text="${ctsp.soLuong}"></td>
                                            <td th:text="${ctsp.giaBan != null ? numberUtils.formatCurrency(ctsp.giaBan) : 'N/A'}"></td>
                                            <form class="d-flex align-items-center"
                                                  th:action="@{/admin/ban-hang/add-ctsp-to-hoadon}"
                                                  method="post"
                                                  onsubmit="setQuantity(${ctsp.id})">
                                            <td>
                                                    <input type="hidden" name="idctsp" th:value="${ctsp.id}"/>
                                                    <input type="hidden" th:value="${hoadon.id}" name="idhd">
                                                    <input  id="soLuongSP"
                                                            class="form-control me-2"
                                                            type="number"
                                                            name="soLuong"
                                                            value="0"
                                                            min="1"
                                                            th:max="${ctsp.soLuong}"
                                                            style="font-size: 1.2rem; padding: 0.5rem; width: 100px;"
                                                            oninvalid="customValidationMessage(this)"
                                                            oninput="this.setCustomValidity('')"
                                                            required
                                                    />
                                            </td>
                                            <td>
                                                    <button onclick="submitSP()"
                                                            type="submit"
                                                            class="btn btn-primary"
                                                            style="font-size: 1.2rem; padding: 0.5rem 1rem; border-radius: 0.5rem;">
                                                        <!-- Button styled -->
                                                        Thêm
                                                    </button>
                                            </td>
                                            </form>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <script>
                        function submitSP(){
                          let isConfirmAdd = window.confirm("bạn có muốn thêm sản phẩm này vào hóa đơn !");
                          if (isConfirmAdd) {
                              let sp = document.getElementById('formSP')
                              sp.submit();
                          }
                        }
                    </script>

                    <script>
                        function customValidationMessage(input) {
                            const value = input.value;
                            const min = parseInt(input.min, 10);
                            const max = parseInt(input.max, 10);
                            const numericValue = Number(value);

                            if (value === "") {
                                input.setCustomValidity("Vui lòng nhập số lượng.");
                            } else if (!Number.isInteger(numericValue)) {
                                input.setCustomValidity("Giá trị nhập phải là số nguyên.");
                            } else if (numericValue < min) {
                                input.setCustomValidity(`Số lượng không được nhỏ hơn ${min}.`);
                            } else if (numericValue > max) {
                                input.setCustomValidity(`Số lượng không được lớn hơn ${max}.`);
                            } else {
                                input.setCustomValidity("");
                            }
                        }
                    </script>


                    <form th:action="@{/admin/ban-hang/hoa-don/xoa-het-ctsp/{id}(id=${hoadon.id})}" method="POST"
                          style="width: 150px;height: 60px">
                        <button type="submit" class="btn btn-danger"
                                onclick="return confirm('Bạn Có chắc chắn xóa hết sản phẩm khỏi hóa đơn không ?');">
                            Xóa Hết Sản Phẩm
                        </button>
                    </form>


                </div>

                <hr/>
                <!-- Example list of cart items -->
                <div th:each="hdct,status: ${listHDCT}" class="product-cart bg-light row"
                     style="width: 95%; height: 200px; margin-left: 20px; margin-top: 60px"
                     id="product-row-${hdct.id}">
                    <div class="col-2">
                        <h6 th:text="'STT: '+${status.index+1}"></h6>
                        <br>
                        <img th:src="${hdct?.chiTietSanPham?.sanPham?.hinhAnhList?.size() > 0
               ? hdct.chiTietSanPham.sanPham.hinhAnhList.get(0).path
               : '/path/to/default/image.jpg'}"
                             style="width: 80px; height: 80px" alt="product image"/>

                    </div>
                    <div class="col-2">
                        <h5 th:text="${hdct.chiTietSanPham.sanPham.ten}">Product Name</h5>
                        <br>
                        <span th:text="'Mã SP: ' + ${hdct.chiTietSanPham.sanPham.ma}"></span><br/>
                        <br>
                        <span th:text="'Số lượng còn lại: ' + ${hdct.chiTietSanPham.soLuong}"></span><br/>


                    </div>
                    <div class="col-2">
                        <span th:text="'Kiểu Dáng: ' + ${hdct.chiTietSanPham.sanPham.kieuDang.ten}"></span><br/>
                        <span th:text="'Màu Sắc: ' + ${hdct.chiTietSanPham.mauSac.ten}"></span><br/>
                        <span th:text="'Size: ' + ${hdct.chiTietSanPham.kichCo.ten}"></span><br/>
                        <span th:text="'Thương Hiệu: ' + ${hdct.chiTietSanPham.sanPham.thuongHieu.ten}"></span><br/>


                    </div>
                    <div class="col-2">
                        <h6>Đơn giá</h6>
                        <span style="font-size: 14px; font-weight: bold;"
                              th:text="${hdct.chiTietSanPham.giaBan != null ?
                     numberUtils.formatCurrency(hdct.chiTietSanPham.giaBan) :
                     'N/A'}"></span>

                        <br/><br/><br/>
                        <h6>Số lượng</h6>
                        <span style="font-size: 14px;font-weight: bold" th:text="${hdct.soLuong}">1</span>
                    </div>
                    <div class="col-2">
                        <h6>Tổng tiền</h6>
                        <span style="font-size: 14px; font-weight: bold;"
                              th:text="${hdct.chiTietSanPham.giaBan != null ?
                     numberUtils.formatCurrency(hdct.chiTietSanPham.giaBan * hdct.soLuong) :
                     'N/A'}"></span>
                    </div>
                    <div class="col-2">
                        <br/>
                        <button class="btn btn-warning"
                                data-bs-toggle="modal"
                                data-bs-target="#modalUpdateQuantity"
                                th:onclick="'openModal(' + ${hdct.id} + ',' + ${hdct.soLuong} + ',' + ${hdct.chiTietSanPham.soLuong+hdct.soLuong} + ');'">
                            Sửa Số Lượng
                        </button>
                        <script>


                        </script>

                        <!-- Modal update soluong -->
                        <div class="modal fade" id="modalUpdateQuantity" tabindex="-1"
                             aria-labelledby="modalUpdateQuantityLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalUpdateQuantityLabel">Sửa số lượng</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="updateQuantityForm" action="/admin/ban-hang/hoa-don/sua-so-luong"
                                              method="POST">
                                            <div class="mb-3">
                                                <label for="quantityInput" id="quantityAvaliable"
                                                       class="form-label"></label>
                                                <input type="number" class="form-control" id="quantityInput"
                                                       name="soLuongSua" min="1" required>
                                            </div>
                                            <input type="hidden" id="idHdctInput" name="idHdctSua">
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy
                                        </button>
                                        <!-- Use a button with type="submit" within the form -->
                                        <button type="submit" class="btn btn-primary" form="updateQuantityForm">Sửa
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <br/>


                        <a class="btn btn-danger"
                           th:href="@{/admin/ban-hang/hoa-don/xoa-sp(idHdct=${hdct.id})}"
                           onclick="return confirm('Bạn Có chắc muốn xóa sản phẩm?')">
                            Xóa
                        </a>


                    </div>
                </div>

            </div>


            <div class="invoiceInfomation col-5"
                 style="height: 800px; background-color: var(--bs-success-bg-subtle); margin-left: 50px">
                <h3>Thông tin hóa đơn</h3>
                <hr/>
                <div class="row">
                    <label class="col-6" style="font-size: 18px; font-weight: bold"
                           th:text="'ID Hoá đơn: '+${hoadon.id}"></label>
                    <label class="col-6" style="font-size: 18px; font-weight: bold"
                           th:text="'Mã Hoá đơn: '+${hoadon.ma}"></label>
                </div>
                <br/>
                <div class="row">
                    <label class="col-6" style="font-size: 18px; font-weight: bold"
                           th:text="${hoadon != null && hoadon.nhanVien != null ? 'Nhân Viên Tạo: ' + hoadon.nhanVien.hoTen : 'Nhân Viên: ADMIN'}">
                    </label>

                    <label class="col-6" style="font-size: 18px; font-weight: bold"
                           th:text="${hoadon != null ? 'Ngày Tạo: ' + hoadon.ngayTao : 'Chưa Có Ngày Tạo'}">
                    </label>
                </div>
                <br/>
                <div class="row">
                    <label class="col-9" style="font-size: 18px; font-weight: bold"
                           th:text="${hoadon != null && hoadon.khachHang != null ? 'Khách Hàng: ' + hoadon.khachHang.hoTen : 'Khách Hàng: Vãng lai'}">
                    </label>
                    <button class="col-3 btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAddCustomer">
                        Chọn Khách Hàng
                    </button>


                    <!--                    Modal khach hang-->
                    <div class="modal fade" th:id="'modalAddCustomer'" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered" id="modal-dialog1">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel1">Chọn khách hàng</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <input placeholder="Tìm kiếm theo số điện thoại khách hàng"
                                               style="width: 620px;height: 60px" class="col-7" type="number"
                                               name="soDienThoaiKH">
                                        <a class="col-4 btn btn-primary" style="width: 120px;height: 60px;margin-right: 30px"
                                           th:href="@{/admin/ban-hang/huy-khach-hang?hoadonId={idHd}(idHd=${hoadon.id})}" onclick="return confirmCancelKH()">Khách vãng lai</a>
                                        <button class="btn btn-primary"
                                                style="width: 120px;height: 60px;margin-right: 30px;"
                                                data-bs-toggle="modal" data-bs-target="#modalAddNewCustomer">
                                            Thêm Mới Khách Hàng
                                        </button>
                                    </div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Họ tên</th>
                                            <th scope="col">Số điện thoại</th>
                                            <th scope="col">Hành động</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="kh : ${listKh}">
                                            <td th:text="${kh.id}"></td>
                                            <th scope="row" th:text="${kh.hoTen}"></th>
                                            <th scope="row" th:text="${kh.soDienThoai}"></th>
                                            <td>
                                                <form class="row"
                                                      th:action="@{/admin/ban-hang/chon-khach-hang}"
                                                      method="post" onsubmit="setQuantity(${ctsp.id})">
                                                    <input type="hidden" name="idkh"
                                                           th:value="${kh.id}"/>

                                                    <input type="hidden" name="idhd"
                                                           th:value="${hoadon.id}"/>
                                                    <button
                                                            type="submit"
                                                            class="btn btn-primary col-4"
                                                            onclick="return confirm('Bạn Có muốn thêm khách hàng này?');"
                                                    >
                                                        Thêm khách hàng
                                                    </button>

                                                </form>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal thêm nhanh khách hàng -->
                    <div class="modal fade" id="modalAddNewCustomer" tabindex="-1" aria-labelledby="exampleModalLabel2"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel2">Thêm Mới Khách Hàng</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/admin/khach-hang/them-nhanh-khach-hang" method="post"
                                          style="display: flex; flex-direction: column; gap: 15px; width: 100%; max-width: 400px; margin: auto;">
                                        <input type="hidden" name="idInvoice" th:value="${hoadon.id}"/>

                                        <div style="display: flex; flex-direction: column;">
                                            <label for="customerName" style="font-weight: bold; margin-bottom: 5px;">Họ
                                                tên:</label>
                                            <input type="text" id="customerName" name="hoTen"
                                                   style="padding: 10px; font-size: 14px; border: 1px solid #ccc; border-radius: 5px;"/>
                                        </div>

                                        <div style="display: flex; flex-direction: column;">
                                            <label for="customerPhone" style="font-weight: bold; margin-bottom: 5px;">Số
                                                điện thoại:</label>
                                            <input type="text" id="customerPhone" name="soDienThoai"
                                                   style="padding: 10px; font-size: 14px; border: 1px solid #ccc; border-radius: 5px;"/>
                                        </div>

                                        <button type="submit"
                                                style="padding: 10px; font-size: 16px; color: white; background-color: #007bff; border: none; border-radius: 5px; cursor: pointer;">
                                            Thêm khách hàng
                                        </button>
                                    </form>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <hr/>
                <div class="row">
                    <label class="col-5" style="font-size: 18px; font-weight: bold">Tổng Tiền:</label>
                    <label class="col-4" style="font-size: 18px; font-weight: bold"
                           th:text="${hoadon != null && hoadon.tongTien != null ? numberUtils.formatCurrency(hoadon.tongTien): 'Chưa có dữ liệu'}">
                    </label>
                </div>


                <br/>
                <div class="row">
                    <label class="col-5" style="font-size: 18px; font-weight: bold">Giảm giá voucher:</label>
                    <label class="col-4" style="font-size: 18px; font-weight: bold"
                           th:text="${hoadon.soTienGiamGia!=null?numberUtils.formatCurrency(hoadon.soTienGiamGia) :'chưa có '}"></label>
                    <button class="col-3 btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#modalAddVoucher"
                    >
                        Chọn Voucher
                    </button>
                    <!-- Modal voucher -->
                    <div class="modal fade" id="modalAddVoucher" tabindex="-1" aria-labelledby="modalAddVoucherLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalAddVoucherLabel">Danh Sách Voucher Hợp Lệ</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div>
                                    <form class="row" th:action="@{/admin/ban-hang/hoa-don/chi-tiet}" method="get" id="form-search-voucher">
                                        <input class="col-7" type="text" name="mgg" th:value="${mgg}">
                                        <input class="col-7" type="hidden" name="hoadonId" th:value="${hoadon.id}">
                                        <button class="col-1 btn btn-primary" type="submit">Tìm kiếm</button>
                                        <a  class="col-1 btn btn-primary"
                                            th:href="@{/admin/ban-hang/huy-ma-giam-gia?hoadonId={idHd}(idHd=${hoadon.id})}" onclick="return confirmCancelMGG()">Bỏ chọn</a>
                                    </form>
                                </div>
                                <div class="modal-body">
                                    <!-- Voucher Table -->
                                    <table class="table table-bordered table-striped">
                                        <thead class="table-light">
                                        <tr>
                                            <th>#</th>
                                            <th>Mã</th>
                                            <th>Tên</th>
                                            <th>Giá Trị Giảm</th>
                                            <th>Hình Thức</th>
                                            <th>Ngày bắt đầu</th>
                                            <th>Ngày kết thúc</th>
                                            <th>Số lượng</th>
                                            <th>Thao Tác</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!-- Loop Through listVoucherValid -->
                                        <tr th:each="voucher, stat : ${listVoucherValid}">
                                            <td th:text="${stat.index + 1}"></td>
                                            <td th:text="${voucher.ma}"></td>
                                            <td th:text="${voucher.ten}"></td>
                                            <td th:text="${numberUtils.formatCurrency2(voucher.giaTriGiam)}"></td>
                                            <td th:text="${voucher.hinhThuc ? 'VND' : 'Phần trăm'}"></td>
                                            <td th:text="${voucher.ngayBatDau}"></td>
                                            <td th:text="${voucher.ngayKetThuc}"></td>
                                            <td th:text="${voucher.soLuong}"></td>

                                            <td>
                                                <!-- Add Voucher Form -->
                                                <form th:action="@{/admin/ban-hang/chon-khuyen-mai}" method="post"
                                                      onsubmit="return confirmVoucherSelection();">
                                                    <!-- Hidden fields for invoice ID and voucher ID -->
                                                    <input type="hidden" name="idhd" th:value="${hoadon.id}"/>
                                                    <input type="hidden" name="idkm" th:value="${voucher.id}"/>
                                                    <button type="submit" class="btn btn-success btn-sm">
                                                        Chọn
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <script>
                                    // JavaScript function for confirmation
                                    function confirmVoucherSelection() {
                                        return confirm("Bạn có chắc chắn muốn chọn voucher này?");
                                    }
                                </script>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <hr/>
                <div class="row">
                    <label class="col-5" style="font-size: 18px; font-weight: bold">Số Tiền Thanh toán:</label>
                    <label class="col-4" style="font-size: 18px; font-weight: bold"

                           th:text="${hoadon != null && hoadon.tienThu != null ? numberUtils.formatCurrency(hoadon.tienThu) : 'Chưa có dữ liệu'}"
                           id="tongTienLabel"></label>
                </div>
                <br/>
                <div class="row">
                    <label class="col-5" style="font-size: 18px; font-weight: bold">Tiền khách trả:</label>
                    <input style="width: 280px;height: 40px;border-radius: 10px;" type="number"
                           placeholder="Nhập tiền khách trả..." id="tienKhachTraInput" oninput="calculateTienThua()">
                </div>
                <br/>
                <div class="row">
                    <label class="col-5" style="font-size: 18px; font-weight: bold">Tiền thừa:</label>
                    <label class="col-4" style="font-size: 18px; font-weight: bold" id="tienThuaLabel"></label>
                </div>

                <script>
                    function calculateTienThua() {
                        // Get the total amount (tongTien) from the label
                        const tongTienText = document.getElementById('tongTienLabel').innerText;
                        const tongTien = parseFloat(tongTienText.replace(' đ', '').replace(/,/g, '')) || 0;

                        // Get the amount paid by the customer from the input
                        const tienKhachTra = parseFloat(document.getElementById('tienKhachTraInput').value) || 0;

                        // Calculate the change (tien thua)
                        const tienThua = tienKhachTra - tongTien;

                        // Display the change in the corresponding label
                        document.getElementById('tienThuaLabel').innerText = tienThua >= 0 ? tienThua.toLocaleString() + ' đ' : 'Chưa đủ';

                        // Return the calculated change for further validation if needed
                        return tienThua;
                    }
                </script>


                <br/>

                <label for="note" style="font-size: 18px; font-weight: bold">Ghi Chú</label>
                <br/>
                <textarea id="note" style="width: 400px; height: 80px"></textarea>
                <br/><br/>

                <div class="paying d-flex">
                    <button class="col-4 btn btn-primary" style="height: 50px;padding-right: 20px;margin-right: 50px"
                            onclick="confirmCheckout()">Thanh Toán
                        <!-- Hidden input field to hold the HoaDon ID -->
                        <input type="hidden" id="hoaDonIdCheckOut" th:value="${hoadon.id}">
                    </button>
                    <form th:action="@{/admin/ban-hang/hoa-don/create-payment-link?idhd={idhd}(idhd=${hoadon.id})}" method="post" class="col-4" id="formThanhToanOnline">
                        <button class="btn btn-primary col-12" onclick="return confirmCheckoutOnline(event)" style="height: 50px">Chuyển khoản
                        </button>
                    </form>
                </div>

                <script>
                    function confirmCheckoutOnline(event) {
                        // Get the length of the listHDCT from the hidden input
                        event.preventDefault();
                        const lengthlistHDCT = parseInt(document.getElementById('lengthlistHDCT').value) || 0;
                        const tien = parseInt(document.getElementById('lengthlistHDCT').value) || 0;
                        console.log(lengthlistHDCT)
                        // Check if the list is empty
                        if (lengthlistHDCT === 0) {
                            toastWarning('Cảnh báo!', 'Hóa đơn trống. Không thể thực hiện thanh toán!');
                            return false; // Prevent the checkout if the list is empty
                        }

                        const tongTienText = document.getElementById('tongTienLabel').innerText;
                        const tongTien = parseFloat(tongTienText.replace(' đ', '').replace(/,/g, '')) || 0;

                        // Check if the total amount is sufficient
                        if (tongTien < 2000 || tongTien >= 1000000000) {
                            toastWarning('Cảnh báo!', 'Số tiền chuyển khoản phải từ 2,000đ đến 1 tỷ!');
                            return false; // Prevent the checkout if the amount is insufficient
                        }

                        // Show confirmation dialog using SweetAlert
                        Swal.fire({
                            title: 'Xác nhận thanh toán',
                            text: 'Bạn có chắc chắn muốn thanh toán hóa đơn này?',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Có, thanh toán!',
                            cancelButtonText: 'Hủy'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Call the actual checkout function if confirmed
                                document.getElementById('formThanhToanOnline').submit();
                            }
                        });

                    }

                </script>

                <script>
                    function confirmCheckout() {
                        // Get the length of the listHDCT from the hidden input
                        const lengthlistHDCT = parseInt(document.getElementById('lengthlistHDCT').value) || 0;
                        console.log(lengthlistHDCT)
                        // Check if the list is empty
                        if (lengthlistHDCT === 0) {
                            toastWarning('Cảnh báo!', 'Hóa đơn trống. Không thể thực hiện thanh toán!');
                            return false; // Prevent the checkout if the list is empty
                        }

                        // Call the function to calculate the change (tiền thừa)
                        const tienThua = calculateTienThua();

                        // Check if the total amount is sufficient
                        if (tienThua < 0) {
                            toastWarning('Cảnh báo!', 'Tiền khách trả không đủ. Vui lòng nhập số tiền lớn hơn hoặc bằng số tiền thanh toán!');
                            return false; // Prevent the checkout if the amount is insufficient
                        }

                        // Show confirmation dialog using SweetAlert
                        Swal.fire({
                            title: 'Xác nhận thanh toán',
                            text: 'Bạn có chắc chắn muốn thanh toán hóa đơn này?',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Có, thanh toán!',
                            cancelButtonText: 'Hủy'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Call the actual checkout function if confirmed
                                checkout();
                            }
                        });

                    }

                </script>


            </div>
        </div>
        <script>

            // Function to populate the modal with the correct item data
            function openModal(idHdct, currentQuantity, quantityAvaliable) {
                document.getElementById('quantityInput').value = currentQuantity;
                document.getElementById('idHdctInput').value = idHdct;
                document.getElementById('quantityAvaliable').innerText = 'Số Lượng khả dụng: ' + quantityAvaliable;
            }
        </script>
        <script src="/js/sweetalert.min.js"></script>

        <script>
            function checkout() {
                // Get the ID of the invoice (HoaDon) you want to process
                var hoaDonId = document.getElementById("hoaDonIdCheckOut").value;

                // Trigger the payment confirmation by sending the ID to your backend
                fetch(`/admin/ban-hang/hoa-don/xac-nhan-thanh-toan?idhd=${hoaDonId}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            // If the response is not OK, handle the error
                            return response.text().then(errorMessage => {
                                Swal.fire({
                                    title: 'Thanh toán thất bại!',
                                    text: errorMessage, // Display the error message returned by the server
                                    icon: 'error',
                                    confirmButtonText: 'OK'
                                });
                                throw new Error(errorMessage); // Reject the promise to stop further processing
                            });
                        }
                        return response.text(); // Process the success response
                    })
                    .then(successMessage => {
                        Swal.fire({
                            title: 'Thanh toán thành công!',
                            text: successMessage, // Display the success message
                            icon: 'success',
                            confirmButtonText: 'OK'
                        }).then(() => {
                            // Redirect after the user clicks "OK"
                            window.location.href = '/admin/ban-hang'; // Or any other page you want to redirect to
                        });
                    })
                    .catch(error => {
                        console.error("Error during checkout:", error);
                        // Handle network or unexpected errors
                        Swal.fire({
                            title: 'Có lỗi xảy ra!',
                            text: error,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    });
            }



            //đóng modal danh sách khách hàng khi modal thêm nhanh hiển thị
            document.querySelector('#modalAddNewCustomer').addEventListener('show.bs.modal', function () {
                var modal1 = bootstrap.Modal.getInstance(document.getElementById('modalAddCustomer'));
                modal1.hide();
            });
        </script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                const hoadonId = $('#hoaDonID').val(); // Get hoadonId from the hidden input

                $('input[name="soDienThoaiKH"]').on('input', function () {
                    let phoneNumber = $(this).val().trim(); // Get the phone number and trim any whitespace

                    // If phoneNumber is empty, set it to an empty string to send to the server
                    if (phoneNumber === "") {
                        phoneNumber = "";  // Empty string to request all customers
                    }

                    // Make an AJAX GET request
                    $.ajax({
                        url: '/admin/khach-hang/searchByPhoneNumber',
                        type: 'GET',
                        data: {phoneNumber: phoneNumber},
                        success: function (response) {
                            // Clear the existing table body within the modal
                            const tbody = $('#modalAddCustomer table tbody');
                            tbody.empty();

                            // Populate the table with the search results
                            response.forEach(function (customer) {
                                const row = `
                        <tr>
                            <td>${customer.id}</td>
                            <td>${customer.hoTen}</td>
                            <td>${customer.soDienThoai}</td>
                            <td>
                                <form class="row" action="/admin/ban-hang/chon-khach-hang" method="post">
                                    <input type="hidden" name="idkh" value="${customer.id}" />
                                    <input type="hidden" name="idhd" value="${hoadonId}" />
                                    <button
                                        type="submit"
                                        class="btn btn-primary col-4"
                                        onclick="return confirm('Bạn Có muốn thêm khách hàng này?');">
                                        Thêm khách hàng
                                    </button>
                                </form>
                            </td>
                        </tr>
                    `;
                                tbody.append(row);
                            });
                        },
                        error: function () {
                            alert('Có lỗi xảy ra khi tìm kiếm khách hàng!');
                        }
                    });
                });
            });


        </script>


        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/js/toastMessage.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/js/sweetalert.min.js"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            /* Check if the deleteSuccess attribute is present in the model */
            var deleteSuccess = [[${deleteSuccess}]];
            console.log(123);
            if (deleteSuccess) {
                toastSuccess('Thành Công !', 'Xóa Thành Công Sản Phẩm !');
            }
            /*]]>*/


        </script>


        <script th:inline="javascript">
            /*<![CDATA[*/
            /* Check if the deleteSuccess attribute is present in the model */
            var addSuccess = [[${addSuccess}]];
            var isQuantityNotEnough = [[${isQuantityNotEnough}]];

            var messageQuantityNotEnough = [[${messageQuantityNotEnough}]];
            console.log(123);
            if (addSuccess) {
                toastSuccess('Thành Công !', 'Thêm Thành Công Sản Phẩm !');
            }
            if (isQuantityNotEnough) {
                toastWarning("Lỗi !", messageQuantityNotEnough);
            }
            /*]]>*/


        </script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var addCustomerSuccess = [[${addCustomerSuccess}]];
            var addCustomerFailed = [[${addCustomerFailed}]];
            var messageAddCustomer = '[[${messageAddCustomer}]]'; // Retrieve the message

            if (addCustomerSuccess) {
                toastSuccess('Thành Công!', messageAddCustomer); // Display success toast
            }

            if (addCustomerFailed) {
                toastError('Thất Bại!', messageAddCustomer); // Display error toast
            }
            /*]]>*/
        </script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var addVoucherSuccess = [[${addVoucherSuccess}]];
            var addVoucherFailed = [[${addVoucherFailed}]];
            var messageAddVoucher = '[[${messageAddVoucher}]]'; // Retrieve the message

            if (addVoucherSuccess) {
                toastSuccess('Thành Công!', messageAddVoucher); // Display success toast
            }

            if (addVoucherFailed) {
                toastError('Thất Bại!', messageAddVoucher); // Display error toast
            }
            /*]]>*/
        </script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            /* Check if the deleteSuccess attribute is present in the model */
            var updateSuccess = [[${updateSuccess}]];
            if (updateSuccess) {
                toastSuccess('Thành Công !', 'Cập nhật Thành Công Số Lượng Sản Phẩm !');
            }
            var addCustomerToInvoiceSuccess = [[${addCustomerToInvoiceSuccess}]];
            if (addCustomerToInvoiceSuccess) {
                toastSuccess('Thành Công !', 'Chọn thành công khách hàng !');
            }
            /*]]>*/
        </script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            /* Check if the deleteSuccess attribute is present in the model */
            var QuantityUpdateError = [[${QuantityUpdateError}]];
            if (QuantityUpdateError) {
                toastError('Thất bại !', 'Số lượng sản phẩm không hợp lệ !');
            }
            /*]]>*/
        </script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            /* Check if the deleteSuccess attribute is present in the model */
            var cancelKH = [[${cancelKH}]];
            if (cancelKH) {
                toastSuccess('Thành công !', 'Bỏ chọn khách hàng thành công!');
            }
            /*]]>*/
        </script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            /* Check if the deleteSuccess attribute is present in the model */
            var cancelMGG = [[${cancelMGG}]];
            if (cancelMGG) {
                toastSuccess('Thành công !', 'Bỏ chọn mã giảm giá thành công!');
            }
            /*]]>*/
        </script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            /* Check if the deleteSuccess attribute is present in the model */
            var nullMGG = [[${nullMGG}]];
            if (nullMGG) {
                toastInfo('Lỗi !', 'Hiện không có mã giảm giá nào!');
            }
            /*]]>*/
        </script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            /* Check if the deleteSuccess attribute is present in the model */
            var nullKH = [[${nullKH}]];
            if (nullKH) {
                toastInfo('Lỗi !', 'Hiện không có khách hàng nào!');
            }
            /*]]>*/
        </script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            /* Check if the deleteSuccess attribute is present in the model */
            var isInvoiceEmptyCheckout = [[${isInvoiceEmptyCheckout}]];
            if (isInvoiceEmptyCheckout) {
                toastError('Lỗi !', 'Hóa đơn trống không có sản phẩm!');
            }
            /*]]>*/
        </script>

        <script>
            function confirmCancelMGG(){
                return window.confirm('Bạn có chắc muốn bỏ mã giảm giá này không?')
            }
        </script>

        <script>
            function confirmCancelKH(){
                return window.confirm('Bạn có chắc muốn bỏ khách hàng này không?')
            }
        </script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            /* Check if the deleteSuccess attribute is present in the model */
            var deleteAllSuccess = [[${deleteAllSuccess}]];
            if (deleteAllSuccess) {
                toastSuccess('Thành Công !', ' Xóa thành công tất cả sản phẩm trong hóa đơn!');
            }
            /*]]>*/
        </script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            /* Check if the deleteSuccess attribute is present in the model */
            var checkoutFail = [[${checkoutFail}]];
            console.log(123);
            if (checkoutFail) {
                toastError('Error!', 'Thanh toán thất bại !');
            }
            /*]]>*/


        </script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const showModal = [[${showModalsp}]]; // Thymeleaf expression
                if (showModal) {
                    const modal = new bootstrap.Modal(document.getElementById('modalAddSP'));
                    modal.show();
                }
            });
        </script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const showModal = [[${showModalvc}]]; // Thymeleaf expression
                if (showModal) {
                    const modal = new bootstrap.Modal(document.getElementById('modalAddVoucher'));
                    modal.show();
                }
            });
        </script>
        <script src="https://cdn.payos.vn/payos-checkout/v1/stable/payos-initialize.js"></script>
</body>
</html>