<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TTAP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/customcss/banhang.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="/customcss/toastMessage.css ">
</head>
<body>

<div class="d-flex">

    <!-- Sidebar using Thymeleaf fragment -->
    <div th:replace="~{/fragment/sidebar :: sidebar}"></div>

    <div class="main-content content flex-grow-1 p-4">
        <h2 class="text-center">Bán Hàng Tại Quầy</h2>
        <hr>
        <div class="d-flex">
            <a th:href="@{/admin/ban-hang}" class="fw-medium fs-5 text-black" style="text-decoration:none">Bán hàng</a>
            <a>&nbsp / &nbsp</a>
            <a href="" class="fw-bolder fs-5 text-black" style="text-decoration: none">Chi tiết hóa đơn</a>
        </div>
        <div id="toast-root"></div>
        <div>
            <h1 th:text="'Mã Hóa Đơn: '+${hoadon.ma}"></h1>
            <input type="hidden" id="lengthlistHDCT" th:value="${listHDCT.size()}" readonly>
            <label th:text="'Số chi tiết sản phẩm: '+${listHDCT.size()}"></label>
        </div>

        <br/>
        <div class="row" style="justify-content: center">
            <div class="cart col-6"
                 style="height: 800px; background-color: var(--bs-info-bg-subtle); margin-right: 30px; overflow-y: auto; padding: 20px">
                <div class="row">
                    <h3 class="col-6">Sản Phẩm</h3>
                    <button class="col-2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAddSP">Thêm Sản
                        Phẩm
                    </button>


                    <!-- Modal Sản Phẩm -->
                    <div class="modal fade" th:id="'modalAddSP'" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered" id="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Chọn sản phẩm muốn
                                        mua
                                        vào hóa đơn</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <form class="row" action="#">
                                            <input class="col-7" type="text" name="tenSpSearch">
                                            <button class="col-1 btn btn-primary" type="submit">Tìm kiếm
                                            </button>
                                        </form>
                                    </div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Ma San Pham</th>
                                            <th scope="col">Ten San Pham</th>
                                            <th scope="col">Thuong Hieu</th>
                                            <th scope="col">NSX</th>
                                            <th scope="col">Chat Lieu</th>
                                            <th scope="col">Kich Co</th>
                                            <th scope="col">Mau Sac</th>
                                            <th scope="col">Số Lượng Tồn</th>
                                            <th scope="col">Giá bán</th>
                                            <th scope="col">Số lượng mua</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="ctsp : ${listCTSP}">
                                            <td th:text="${ctsp.id}"></td>
                                            <th scope="row" th:text="${ctsp.sanPham.ma}"></th>
                                            <td th:text="${ctsp.sanPham.ten}"></td>
                                            <td th:text="${ctsp.sanPham.thuongHieu.ten}"></td>
                                            <td th:text="${ctsp.sanPham.nsx.ten}"></td>
                                            <td th:text="${ctsp.sanPham.chatLieu.ten}"></td>
                                            <td th:text="${ctsp.kichCo.ten}"></td>
                                            <td th:text="${ctsp.mauSac.ten}"></td>
                                            <td th:text="${ctsp.soLuong}"></td>
                                            <td th:text="${ctsp.giaBan} + 'vnd'"></td>
                                            <td>
                                                <form class="row"
                                                      th:action="@{/admin/ban-hang/add-ctsp-to-hoadon}"
                                                      method="post" onsubmit="setQuantity(${ctsp.id})">
                                                    <input type="hidden" name="idctsp"
                                                           th:value="${ctsp.id}"/>

                                                    <input
                                                            class="col-3"
                                                            type="number"
                                                            name="soLuong"
                                                            value="0" min="1" max="${ctsp.soLuong}"/>
                                                    <input type="hidden" th:value="${hoadon.id}" name="idhd">
                                                    <button
                                                            type="submit"
                                                            class="btn btn-primary col-4"
                                                    >Thêm vào hóa đơn
                                                    </button>
                                                </form>
                                                <!--                                                <script th:inline="javascript">-->
                                                <!--                                                    function setQuantity(ctspId) {-->
                                                <!--                                                        var quantityInput = document.getElementById('quantity-' + ctspId);-->
                                                <!--                                                        var hiddenQuantityInput = document.getElementById('hidden-quantity-' + ctspId);-->
                                                <!--                                                        hiddenQuantityInput.value = parseInt(quantityInput.value, 10);-->
                                                <!--                                                    }-->
                                                <!--                                                </script>-->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <form th:action="@{/admin/ban-hang/hoa-don/xoa-het-ctsp/{id}(id=${hoadon.id})}" method="POST"
                          style="width: 150px;height: 60px">
                        <button type="submit" class="btn btn-danger"
                                onclick="return confirm('Bạn Có chắc chắn xóa hết sản phẩm khỏi hóa đơn không ?');">
                            Xóa Hết Sản Phẩm
                        </button>
                    </form>


                </div>

                <hr/>
                <!-- Example list of cart items -->
                <div th:each="hdct,status: ${listHDCT}" class="product-cart bg-light row"
                     style="width: 95%; height: 200px; margin-left: 20px; margin-top: 60px"
                     id="product-row-${hdct.id}">
                    <div class="col-2">
                        <h6 th:text="'STT: '+${status.index+1}"></h6>
                        <br>
                        <img src="https://res.cloudinary.com/dld7uoqyh/image/upload/v1728726810/productImg/bbe9a9e0-9b71-45cc-b1c1-778fba4b2a25.jpg"
                             style="width: 80px; height: 80px" alt="product image"/>
                    </div>
                    <div class="col-2">
                        <h5 th:text="${hdct.chiTietSanPham.sanPham.ten}">Product Name</h5>
                        <br>
                        <span th:text="'Mã SP: ' + ${hdct.chiTietSanPham.sanPham.ma}"></span><br/>
                        <br>
                        <span th:text="'Số lượng còn lại: ' + ${hdct.chiTietSanPham.soLuong}"></span><br/>


                    </div>
                    <div class="col-2">
                        <span th:text="'Kiểu Dáng: ' + ${hdct.chiTietSanPham.sanPham.kieuDang.ten}"></span><br/>
                        <span th:text="'Màu Sắc: ' + ${hdct.chiTietSanPham.mauSac.ten}"></span><br/>
                        <span th:text="'Size: ' + ${hdct.chiTietSanPham.kichCo.ten}"></span><br/>
                        <span th:text="'Thương Hiệu: ' + ${hdct.chiTietSanPham.sanPham.thuongHieu.ten}"></span><br/>


                    </div>
                    <div class="col-2">
                        <h6>Price</h6>
                        <span th:text="${hdct.chiTietSanPham.giaBan + ' VND'}">100,000 VND</span><br/><br/><br/>
                        <h6>Quantity</h6>
                        <span th:text="${hdct.soLuong}">1</span>
                    </div>
                    <div class="col-2">
                        <h6>Total</h6>
                        <span th:text="${hdct.chiTietSanPham.giaBan * hdct.soLuong + ' VND'}">100,000 VND</span>
                    </div>
                    <div class="col-2">
                        <br/>
                        <button class="btn btn-warning"
                                data-bs-toggle="modal"
                                data-bs-target="#modalUpdateQuantity"
                                th:onclick="'openModal(' + ${hdct.id} + ',' + ${hdct.soLuong} + ',' + ${hdct.chiTietSanPham.soLuong} + ');'">
                            Sửa Số Lượng
                        </button>
                        <script>


                        </script>

                        <!-- Modal update soluong -->
                        <div class="modal fade" id="modalUpdateQuantity" tabindex="-1"
                             aria-labelledby="modalUpdateQuantityLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalUpdateQuantityLabel">Update Quantity</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="updateQuantityForm" action="/admin/ban-hang/hoa-don/sua-so-luong"
                                              method="POST">
                                            <div class="mb-3">
                                                <label for="quantityInput" id="quantityAvaliable" class="form-label"></label>
                                                <input type="number" class="form-control" id="quantityInput"
                                                       name="soLuongSua" min="1" required>
                                            </div>
                                            <input type="hidden" id="idHdctInput" name="idHdctSua">
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                        </button>
                                        <!-- Use a button with type="submit" within the form -->
                                        <button type="submit" class="btn btn-primary" form="updateQuantityForm">Update
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <br/>


                        <a class="btn btn-danger"
                           th:href="@{/admin/ban-hang/hoa-don/xoa-sp(idHdct=${hdct.id})}"
                           onclick="return confirm('Bạn Có chắc muốn xóa sản phẩm?')">
                            Xóa
                        </a>


                    </div>
                </div>

            </div>


            <div class="invoiceInfomation col-5"
                 style="height: 800px; background-color: var(--bs-success-bg-subtle); margin-left: 50px">
                <h3>Thông tin hóa đơn</h3>
                <hr/>
                <div class="row">
                    <label class="col-6" style="font-size: 18px; font-weight: bold"
                           th:text="'-ID Hoá đơn: '+${hoadon.id}"></label>
                    <label class="col-6" style="font-size: 18px; font-weight: bold"
                           th:text="'-Ma Hoá đơn: '+${hoadon.ma}"></label>
                </div>
                <br/>
                <div class="row">
                    <label class="col-7" style="font-size: 18px; font-weight: bold"
                           th:text="${hoadon != null && hoadon.nhanVien != null ? 'Nhân Viên Tạo: ' + hoadon.nhanVien.hoTen : 'Nhân Viên: Chưa Chọn'}">
                    </label>

                    <label class="col-5" style="font-size: 18px; font-weight: bold"
                           th:text="${hoadon != null ? '-Ngày Tạo: ' + hoadon.ngayTao : 'Chưa Có Ngày Tạo'}">
                    </label>
                </div>
                <br/>
                <div class="row">
                    <label class="col-7" style="font-size: 18px; font-weight: bold"
                           th:text="${hoadon != null && hoadon.khachHang != null ? 'Khách Hàng: ' + hoadon.khachHang.hoTen : 'Khách Hàng: Chưa Chọn'}">
                    </label>
                    <button class="col-4 btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAddCustomer">
                        Chọn Khách Hàng
                    </button>

                    <a class="col-4 btn btn-primary" th:href="@{/admin/ban-hang/huy-khach-hang?hoadonId={idHd}(idHd=${hoadon.id})}">Bỏ chọn khách hàng</a>

                    <div class="modal fade" th:id="'modalAddCustomer'" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered" id="modal-dialog1">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel1">Chọn sản phẩm muốn
                                        mua
                                        vào hóa đơn</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <form class="row" action="#">
                                            <input class="col-7" type="text" name="tenSpSearch">
                                            <button class="col-1 btn btn-primary" type="submit">Tìm kiếm
                                            </button>
                                        </form>
                                    </div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Họ tên</th>
                                            <th scope="col">Số điện thoại</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="kh : ${listKh}">
                                            <td th:text="${kh.id}"></td>
                                            <th scope="row" th:text="${kh.hoTen}"></th>
                                            <th scope="row" th:text="${kh.soDienthoai}"></th>
                                            <th scope="row" th:text="${kh.email}"></th>
                                            <td>
                                                <form class="row"
                                                      th:action="@{/admin/ban-hang/chon-khach-hang}"
                                                      method="post" onsubmit="setQuantity(${ctsp.id})">
                                                    <input type="hidden" name="idkh"
                                                           th:value="${kh.id}"/>

                                                    <input type="hidden" name="idhd"
                                                           th:value="${hoadon.id}"/>
                                                    <button
                                                            type="submit"
                                                            class="btn btn-primary col-4"
                                                    >Thêm khách hàng
                                                    </button>
                                                </form>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


                <hr/>
                <div class="row">
                    <label class="col-5" style="font-size: 18px; font-weight: bold">Tổng Tiền:</label>
                    <label class="col-4" style="font-size: 18px; font-weight: bold"
                           th:text="${hoadon != null && hoadon.tongTien != null ? hoadon.tongTien + ' đ' : 'Chưa có dữ liệu'}">
                    </label>
                </div>


                <br/>
                <div class="row">
                    <label class="col-5" style="font-size: 18px; font-weight: bold">Giảm giá voucher(nếu
                        có):</label>
                    <label class="col-4" style="font-size: 18px; font-weight: bold">0 VND</label>
                    <button class="col-3 btn btn-primary"
                            onclick="toastWarning('Thông Báo','Chức năng đang được phát triển !')">
                        Chọn
                        Voucher
                    </button>
                </div>

                <hr/>
                <div class="row">
                    <label class="col-5" style="font-size: 18px; font-weight: bold">Số Tiền Thanh toán:</label>
                    <label class="col-4" style="font-size: 18px; font-weight: bold"
                           th:text="${hoadon != null && hoadon.tongTien != null ? hoadon.tongTien + ' đ' : 'Chưa có dữ liệu'}"
                           id="tongTienLabel"></label>
                </div>
                <br/>
                <div class="row">
                    <label class="col-5" style="font-size: 18px; font-weight: bold">Tiền khách trả:</label>
                    <input style="width: 280px;height: 40px;border-radius: 10px;" type="number" placeholder="Nhập tiền khách trả..." id="tienKhachTraInput" oninput="calculateTienThua()">
                </div>
                <br/>
                <div class="row">
                    <label class="col-5" style="font-size: 18px; font-weight: bold">Tiền thừa:</label>
                    <label class="col-4" style="font-size: 18px; font-weight: bold" id="tienThuaLabel"></label>
                </div>

                <script>
                    function calculateTienThua() {
                        // Get the total amount (tongTien) from the label
                        const tongTienText = document.getElementById('tongTienLabel').innerText;
                        const tongTien = parseFloat(tongTienText.replace(' đ', '').replace(/,/g, '')) || 0;

                        // Get the amount paid by the customer from the input
                        const tienKhachTra = parseFloat(document.getElementById('tienKhachTraInput').value) || 0;

                        // Calculate the change (tien thua)
                        const tienThua = tienKhachTra - tongTien;

                        // Display the change in the corresponding label
                        document.getElementById('tienThuaLabel').innerText = tienThua >= 0 ? tienThua.toLocaleString() + ' đ' : 'Chưa đủ';

                        // Return the calculated change for further validation if needed
                        return tienThua;
                    }
                </script>


                <br/>

                <label for="note" style="font-size: 18px; font-weight: bold">Ghi Chú</label>
                <br/>
                <textarea id="note" style="width: 400px; height: 80px"></textarea>
                <br/><br/>

                <div class="paying">
                    <button class="col-4 btn btn-primary" style="height: 50px"
                            onclick="confirmCheckout()">Thanh Toán
                        <!-- Hidden input field to hold the HoaDon ID -->
                        <input type="hidden" id="hoaDonIdCheckOut" th:value="${hoadon.id}">
                    </button>
                    <a class="col-4 btn btn-primary" style="height: 50px"
                       th:href="@{/admin/ban-hang/hoa-don/thanh-toan-vnpay?idhd={idhd}(idhd=${hoadon.id})}">Chuyển khoản
                        <!-- Hidden input field to hold the HoaDon ID -->
                        <!--                        <input type="hidden" id="hoaDonIdCheckOut2" th:value="${hoadon.id}">-->
                    </a>
                </div>

                <script>
                    function confirmCheckout() {
                        // Get the length of the listHDCT from the hidden input
                        const lengthlistHDCT = parseInt(document.getElementById('lengthlistHDCT').value) || 0;
                        console.log(lengthlistHDCT)
                        // Check if the list is empty
                        if (lengthlistHDCT === 0) {
                            toastWarning('Cảnh báo!', 'Hóa đơn trống. Không thể thực hiện thanh toán!');
                            return false; // Prevent the checkout if the list is empty
                        }

                        // Call the function to calculate the change (tiền thừa)
                        const tienThua = calculateTienThua();

                        // Check if the total amount is sufficient
                        if (tienThua < 0) {
                            toastWarning('Cảnh báo!', 'Tiền khách trả không đủ. Vui lòng nhập số tiền lớn hơn hoặc bằng số tiền thanh toán!');
                            return false; // Prevent the checkout if the amount is insufficient
                        }

                        // Show confirmation if the total amount is sufficient
                        if (confirm('Bạn có chắc chắn muốn thanh toán hóa đơn này?')) {
                            // Call the actual checkout function if confirmed
                            // checkout();
                        }
                    }

                </script>


            </div>
        </div>
        <script>

            // Function to populate the modal with the correct item data
            function openModal(idHdct, currentQuantity,quantityAvaliable) {
                document.getElementById('quantityInput').value = currentQuantity;
                document.getElementById('idHdctInput').value = idHdct;
                document.getElementById('quantityAvaliable').innerText ='Số Lượng khả dụng: '+ quantityAvaliable;
             }

            function checkout() {
                // Get the ID of the invoice (HoaDon) you want to process
                var hoaDonId = document.getElementById("hoaDonIdCheckOut").value; // Assuming you have an input field with this ID, or use a variable if it's passed from the server

                // Trigger the payment confirmation by sending the ID to your backend
                fetch(`/admin/ban-hang/hoa-don/xac-nhan-thanh-toan?idhd=${hoaDonId}`, {
                    method: 'POST', // Use POST to trigger the backend method
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: null // You can pass other data here if needed
                })
                    .then(response => {
                        if (response.ok) {
                            // If payment confirmation was successful, redirect to the success page or show a success message
                            window.location.href = '/admin/ban-hang'; // Or any other page you want to redirect to
                        } else {
                            // Handle any errors, show a message
                            alert("Thanh toán thất bại. Vui lòng thử lại!");
                        }
                    })
                    .catch(error => {
                        console.error("Error during checkout:", error);
                        alert("Có lỗi xảy ra. Vui lòng thử lại!");
                    });
            }

        </script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/js/toastMessage.js"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            /* Check if the deleteSuccess attribute is present in the model */
            var deleteSuccess = [[${deleteSuccess}]];
            console.log(123);
            if (deleteSuccess) {
                toastSuccess('Thành Công !', 'Xóa Thành Công Sản Phẩm !');
            }
            /*]]>*/


        </script>


        <script th:inline="javascript">
            /*<![CDATA[*/
            /* Check if the deleteSuccess attribute is present in the model */
            var addSuccess = [[${addSuccess}]];
            var isQuantityNotEnough = [[${isQuantityNotEnough}]];

            var messageQuantityNotEnough = [[${messageQuantityNotEnough}]];
            console.log(123);
            if (addSuccess) {
                toastSuccess('Thành Công !', 'Thêm Thành Công Sản Phẩm !');
            }
            if (isQuantityNotEnough) {
                toastWarning("Lỗi !", messageQuantityNotEnough);
            }
            /*]]>*/


        </script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            /* Check if the deleteSuccess attribute is present in the model */
            var updateSuccess = [[${updateSuccess}]];
            if (updateSuccess) {
                toastSuccess('Thành Công !', 'Cập nhật Thành Công Số Lượng Sản Phẩm !');
            }
            /*]]>*/
        </script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            /* Check if the deleteSuccess attribute is present in the model */
            var QuantityUpdateError = [[${QuantityUpdateError}]];
            if (QuantityUpdateError) {
                toastError('Thất bại !', 'Số lượng sản phẩm không hợp lệ !');
            }
            /*]]>*/
        </script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            /* Check if the deleteSuccess attribute is present in the model */
            var isInvoiceEmptyCheckout = [[${isInvoiceEmptyCheckout}]];
            if (isInvoiceEmptyCheckout) {
                toastError('Lỗi !', 'Hóa đơn trống không có sản phẩm!');
            }
            /*]]>*/
        </script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            /* Check if the deleteSuccess attribute is present in the model */
            var deleteAllSuccess = [[${deleteAllSuccess}]];
            if (deleteAllSuccess) {
                toastSuccess('Thành Công !', ' Xóa thành công tất cả sản phẩm trong hóa đơn!');
            }
            /*]]>*/
        </script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            /* Check if the deleteSuccess attribute is present in the model */
            var checkoutFail = [[${checkoutFail}]];
            console.log(123);
            if (checkoutFail) {
                toastError('Error!', 'Thanh toán thất bại !');
            }
            /*]]>*/


        </script>


</body>
</html>
