
<!-- src/main/resources/templates/views/admin/banhangtaiquay/index.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head th:replace="~{/fragment/head :: head}"></head>
<body>
<div th:replace="~{/fragment/navbar :: navbar}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2" th:replace="~{/fragment/sidebar :: sidebar}"></div>
        <div class="col-10" th:replace="~{/admin/banhangtaiquay/banhang ::banHang}"></div>

    </div>
</div>
<div th:replace="~{/fragment/foot :: foot}"></div>
</body>
</html>
