<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>TTAP T-SHIRT</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="shortcut icon" type="image/png"
          th:href="@{/images/logo2tap.jpg}" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link th:href="@{/customercss/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/elegant-icons.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/nice-select.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/jquery-ui.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/owl.carousel.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/slicknav.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/style.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/style-customer.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/cart-hover.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/customcss/toastMessage.css ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <style>
        h1, h3 {
            margin-bottom: 20px;
        }
        table {
            background-color: #fff;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        table th, table td {
            text-align: center;
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }
        footer {
            background-color: #343a40;
            color: #fff;
            padding: 20px 0;
        }
    </style>
</head>
<body>
<header th:replace="~{/fragment/header-customer :: header-customer}"></header>
<div id="toast-root"></div>

<section>
    <div class="container">
        <h3 class="text-center">Đơn hàng của bạn</h3>
        <h5 class="card-title">Hóa Đơn #<span th:text="${hoaDon.ma}"></span></h5>
        <h4>Trạng thái:  <span th:switch="${hoaDon.trangThai}">
         <span th:case="3">Chờ xác nhận</span>
           <span th:case="0">Chờ thanh toán</span>
            <span th:case="1">Thành Công</span>
            <span th:case="2">Đã hủy</span>
            <span th:case="-1">Giao hàng thất bại</span>
            <span th:case="3">Chờ xác nhận</span>
            <span th:case="6">Đã Xác nhận</span>
            <span th:case="7">Người gửi đang chuẩn bị hàng</span>
            <span th:case="8">Đang chờ đơn vị vận chuyển lấy hàng</span>
            <span th:case="9">Đang giao hàng</span>
            <span th:case="10">Đã giao hàng</span>
            <span th:case="*" class="text-secondary">Không xác định</span>

    </span></h4>
        <h5 class="mt-3" th:text="'Ghi chú: '+${hoaDon.ghiChu ?: 'Không có ghi chú'}"></h5>
        <!-- Hiển thị giỏ hàng -->
        <div class="table-responsive mt-3">
                <table class="table table-bordered table-hover">
                    <thead class="table-primary">
                    <tr>
                        <th>#</th>
                        <th>Tên sản phẩm</th>

                        <th>Màu sắc</th>
                        <th>Kích cỡ</th>

                        <th>Đơn Giá</th>
                        <th>Số lượng</th>

                        <th>Thành tiền</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="hdct, iterStat : ${listHDCT}">
                        <td th:text="${iterStat.index + 1}"></td>
                        <td th:text="${hdct.chiTietSanPham.sanPham != null ? hdct.chiTietSanPham.sanPham.ten : 'Không có'}"></td>
                        <!--            <td th:text="${hdct.chiTietSanPham.sanPham != null ? hdct.chiTietSanPham.sanPham.gia : 'Không có'}"></td>-->
                        <td th:text="${hdct.chiTietSanPham.mauSac != null  ? hdct.chiTietSanPham.mauSac.ten : 'Không có'}"></td>
                        <td th:text="${hdct.chiTietSanPham.kichCo != null  ? hdct.chiTietSanPham.kichCo.ten : 'Không có'}"></td>
                        <td th:text="${hdct.donGia != null ? numberUtils.formatCurrency(hdct.donGia) : 'Không có'}"></td>
                        <td th:text="${hdct.soLuong != null ? hdct.soLuong : 'Không có'}"></td>
                        <td th:text="${hdct.donGia != null &&hdct.soLuong != null ? numberUtils.formatCurrency(hdct.donGia*hdct.soLuong) : 'Không có'}"></td>
                    </tr>
                    </tbody>
                </table>

                <!-- Hiển thị tổng tiền -->
                <div class="text-end mt-3">
                    <h4>Tạm tính: <span th:text="${numberUtils.formatCurrency2(hoaDon.tongTien)}"></span> VND</h4>
                    <br>
                    <h4>Giảm giá: <span th:text="${hoaDon.tienShip != null ? numberUtils.formatCurrency2(hoaDon.soTienGiamGia) :''}"></span> VND</h4>
                    <br>
                    <h4>Phí vận chuyển: <span th:text="${hoaDon.tienShip != null ? numberUtils.formatCurrency2(hoaDon.tienShip) :''}"></span> VND</h4>
                    <br>
                    <h4>Tổng tiền: <span th:text="${numberUtils.formatCurrency2(hoaDon.tienThu)}"></span> VND</h4>

                </div>
            <form th:action="@{/TTAP/cart/huy-hoa-don-online(idHD=${hoaDon.id})}" method="post" class="d-inline" onsubmit="return confirmCancel()">
                <button type="submit" class="btn btn-danger" th:disabled="${hoaDon.trangThai != 3}"  th:if="${hoaDon.trangThai == 3}">
                    Hủy hóa đơn
                </button>
            </form>

            <!-- Form nhập thông tin thanh toán -->
                <div class="mt-4">
                    <h4>Thông tin chi tiết</h4>
                    <div class="form-group">
                        <label for="fullName">Họ và tên</label>
                        <input disabled type="text" id="fullName" name="tenNguoiNhan"
                               th:value="${hoaDon.tenNguoiNhan}"
                               class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label for="phoneNumber">Số điện thoại</label>
                        <input disabled type="text" id="phoneNumber" name="sdtNguoiNhan"
                               th:value="${hoaDon.sdtNguoiNhan}"
                               class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label for="address">Địa chỉ</label>
                        <input disabled type="text" id="address" name="diaChiGiaoHang"
                               th:value="${hoaDon.diaChiGiaoHang}"
                               class="form-control" required />
                    </div>
                </div>

        </div>
<!--        <div class="text-center mt-4">-->
<!--            <a href="/TTAP/cart/hoa-don" class="btn btn-secondary">Quay lại giỏ hàng</a>-->
<!--            <a th:href="@{/cancel-hoa-don/online/{idHD}(idHD=${hoaDon.id})}" th:if="${hoaDon.trangThai==3}" onclick="return confirmCancelOrder()" class="btn btn-secondary">Hủy đơn hàng</a>-->
<!--        </div>-->
        <div class="text-center mt-4">
            <a href="/TTAP/cart/hoa-don" class="btn btn-secondary">Quay lại danh sách đơn hàng</a>
        </div>
    </div>
</section>


<script>
        function confirmCancel() {
        return confirm("Bạn có chắc chắn muốn hủy hóa đơn này không?");
    }

</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/banhang.js}"></script>
<script src="/js/toastMessage.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var cancelHoaDon = [[${cancelHoaDon}]];
    console.log("checkoutSuccess:", cancelHoaDon); // Log the value to check
    if (cancelHoaDon) {
        toastSuccess('Thành Công !', 'Hủy hóa đơn thành công!');
    }
    /*]]>*/
</script>

<footer th:replace="~{/fragment/footer-customer :: footer-customer}" class="text-center">
    <p>&copy; 2024 TTAP T-SHIRT. All rights reserved.</p>
</footer>
</body>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
</html>
