<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>TTAP T-SHIRT</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
  <link rel="shortcut icon" type="image/png"
        th:href="@{/images/logo2tap.jpg}" />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link th:href="@{/customercss/bootstrap.min.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/customercss/elegant-icons.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/customercss/nice-select.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/customercss/jquery-ui.min.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/customercss/owl.carousel.min.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/customercss/slicknav.min.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/customercss/style.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/customercss/style-customer.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/customercss/cart-hover.css}" rel="stylesheet" type="text/css" />
</head>

<style>
</style>

<body>

<header th:replace="~{/fragment/header-customer :: header-customer}"></header>

<section class="product spad" style="margin-top: -50px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-5">
        <!-- Input for searching product by name -->
        <form th:action="@{/TTAP/san-pham}" method="get">
          <input style="width: 100%; text-align: center;"
                 type="text"
                 class="next-input"
                 th:value="${ten}"
                 placeholder="Nhập tên sản phẩm cần tìm"
                 name="ten" />
          <br><br><br>

          <div class="row">
              <div class="sidebar__item" style="margin-top: -20px;">
                <h5>Chọn khoảng giá:</h5>
                <!-- Select for price range -->
                <select style="width: 200px;"
                        id="price-range"
                        class="form-select"
                        name="priceRangerId"
                        th:onchange="this.form.submit()">
                  <option th:each="priceRanger : ${priceRangerList}"
                          th:value="${priceRanger.id}"
                          th:selected="${priceRangerId == priceRanger.id}"
                          th:text="${priceRanger.display}">
                  </option>
                </select>
              </div>
            </div>


            <div class="row">
              <div class="sidebar__item" style="margin-top: -20px;">
                <h5 >Chọn thương hiệu:</h5>
                <select style="width: 200px;"
                        id="thuonghieu"
                        class="form-select"
                        name="thuongHieuId"
                        th:onchange="this.form.submit()">
                  <option th:value="0">không chọn</option>
                  <option th:each="thuonghieu : ${thuongHieuList}"
                          th:value="${thuonghieu.id}"
                          th:selected="${thuongHieuId == thuonghieu.id}"
                          th:text="${thuonghieu.ten}">
                  </option>
                </select>
              </div>
            </div>
          <br>

          <div class="row">
            <div class="sidebar__item" style="margin-top: -20px;">
              <h5 >Chọn kiểu dáng:</h5>
              <select style="width: 200px;"
                      id="kieudang"
                      class="form-select"
                      name="kieuDangId"
                      th:onchange="this.form.submit()">
                <option th:value="0">không chọn</option>
                <option th:each="kieudang : ${kieuDangList}"
                        th:value="${kieudang.id}"
                        th:selected="${kieuDangId == kieudang.id}"
                        th:text="${kieudang.ten}">
                </option>
              </select>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="sidebar__item" style="margin-top: -20px;">
              <h5 >Chọn nhà sản xuất:</h5>
              <select style="width: 200px;"
                      id="nsx"
                      class="form-select"
                      name="nsxId"
                      th:onchange="this.form.submit()">
                <option th:value="0">không chọn</option>
                <option th:each="nsx : ${nsxList}"
                        th:value="${nsx.id}"
                        th:selected="${nsxId == nsx.id}"
                        th:text="${nsx.ten}">
                </option>
              </select>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="sidebar__item" style="margin-top: -20px;">
              <h5 >Chọn kích cỡ:</h5>
              <select style="width: 200px;"
                      id="kichco"
                      class="form-select"
                      name="kichCoId"
                      th:onchange="this.form.submit()">
                <option th:value="0">không chọn</option>
                <option th:each="kichco : ${kichCoList}"
                        th:value="${kichco.id}"
                        th:selected="${kichCoId == kichco.id}"
                        th:text="${kichco.ten}">
                </option>
              </select>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="sidebar__item" style="margin-top: -20px;">
              <h5 >Chọn chất liệu:</h5>
              <select style="width: 200px;"
                      id="chatlieu"
                      class="form-select"
                      name="chatLieuId"
                      th:onchange="this.form.submit()">
                <option th:value="0">không chọn</option>
                <option th:each="chatlieu : ${chatLieuList}"
                        th:value="${chatlieu.id}"
                        th:selected="${chatLieuId == chatlieu.id}"
                        th:text="${chatlieu.ten}">
                </option>
              </select>
            </div>
          </div>
          <br>

        </form>


      </div>
      <div class="col-lg-9 col-md-7">
        <div class="row featured__filter">
          <div class="col-lg-4 col-md-6 col-sm-6 custom-margin" th:each="sp : ${listctsp}"> <br>
            <div class="card">
<!--              <img th:if="${sp.imageLink}" th:src="${sp.imageLink}" class="card-img-top" alt="Hình ảnh sản phẩm">-->
              <div class=" justify-content-between text-center">
                <span th:text="${sp.sanPham.ten}"></span>
                <div class="text-center">
                  <b th:text="${@sanPhamCustomerController.formatCurrency(sp.giaBan)+' vnđ'}"></b>
                  <div class="d-flex flex-column justify-content-center align-items-center mt-2">
                    <a class="abc " th:href="@{/TTAP/san-pham-detail/{id}(id=${sp.sanPham.id})}">
                      <span>Xem sản phẩm</span>
                    </a>
                    <a class="abc my-2" th:href="@{/TTAP/cart/add(productId=${sp.id}, quantity=1)}">
                      <span>Thêm vào giỏ hàng</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <br>

        <div class="pagination">
          <ul class="pagination">
            <li th:class="${currentPage == 0} ? 'disabled' : ''">
              <a th:href="@{/san-pham(page=${currentPage - 1}, ten=${ten}, priceRangerId=${priceRangerId}, kichCoId=${kichCoId})}">&laquo;</a>
            </li>

            <li th:each="i : ${#numbers.sequence(0, totalPage - 1)}" th:class="${i == currentPage} ? 'active' : ''">
              <a th:href="@{/san-pham(page=${i}, ten=${ten}, priceRangerId=${priceRangerId}, kichCoId=${kichCoId})}" th:text="${i + 1}"></a>
            </li>

            <li th:class="${currentPage == totalPage - 1} ? 'disabled' : ''">
              <a th:href="@{/san-pham(page=${currentPage + 1}, ten=${ten}, priceRangerId=${priceRangerId}, kichCoId=${kichCoId})}">&raquo;</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>

</section>


<!-- Footer Section Begin -->
<footer th:replace="~{/fragment/footer-customer :: footer-customer}"></footer>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>