<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/head :: head}"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="~{/fragment/header :: header}"></div>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <div th:replace="~{/fragment/aside :: aside}"></div>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Bán hàng tại quầy
                <small>it all starts here</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Blank page</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Danh sách sản phẩm</h3>
                        </div>

                        <div class="box-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr style="border: 1px solid #ccc; background-color: lightskyblue">
                                    <th>STT</th>
                                    <th>Mã sản phẩm</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Ngày tạo</th>
                                    <th>Trạng thái</th>
                                    <th>Hành động</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="sanPham, iterStat : ${listSP}">
                                    <td th:text="${iterStat.index + 1}"></td>
                                    <td th:text="${sanPham.ma}"></td>

                                    <td th:text="${sanPham.ten}"></td>

                                    <td th:text="${sanPham.ngayTao}"></td>
                                    <td>
                                <span th:class="'badge ' + (${sanPham.trangThai} == 1 ? 'bg-info text-dark' : 'bg-secondary text-light')"
                                      th:text="${sanPham.trangThai} == 1 ? 'Đang bán' : 'Hết hàng'">
                                </span>
                                    </td>
                                    <td>
                                        <a th:href="@{'chi-tiet-san-pham/' + ${sanPham.id} }" class="btn btn-primary">Chi tiết</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="#">«</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Thêm sản phẩm</h3>
                        </div>
                        <form action="/admin/san-pham/add" method="post">
                            <div class="mb-3">
                                <label for="ma" class="form-label">Mã Sản Phẩm</label>
                                <input type="text" class="form-control" id="ma" name="ma" required>
                            </div>
                            <div class="mb-3">
                                <label for="ten" class="form-label">Tên Sản Phẩm</label>
                                <input type="text" class="form-control" id="ten" name="ten" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Nhà Sản Xuất</label>
                                <select class="form-select" name="idNSX">
                                    <option th:each="nsx : ${listNSX}" th:value="${nsx.id}" th:text="${nsx.ten}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="moTa" class="form-label">Mô Tả</label>
                                <textarea class="form-control" id="moTa" name="moTa" rows="2"></textarea>
                                <!--                    <input type="text" class="form-control" id="moTa" name="moTa" required>-->
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Trạng Thái</label>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="trangThaiDangBan" name="trangThai" value="1" required>
                                    <label class="form-check-label" for="trangThaiDangBan">Còn Hàng</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="trangThaiHetHang" name="trangThai" value="0" required>
                                    <label class="form-check-label" for="trangThaiHetHang">Hết Hàng</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Default box -->
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="~{/fragment/footer :: footer}"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<div th:replace="~{/fragment/script :: script}"></div>
</body>
</html>
