    <div class="col-md-4 text-center" th:fragment="aside-customer">
        <div class="mb-4">
            <h4><span th:text="${khachHang.taiKhoan.username}"></span></h4>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/TTAP/user/detail/view">Hồ sơ</a>
            </li>
            <li class="list-group-item">
                <a href="/TTAP/user/detail/viewDiachi">Địa chỉ</a>
            </li>
            <li class="list-group-item">
                <a href="/TTAP/user/detail/viewChangePass">Mật khẩu</a>
            </li>
            <li class="list-group-item">
                <a href="/TTAP/user/detail/viewVocher">Mã giảm giá </a>
            </li>
        </ul>
    </div>

