    <div class="col-md-4 text-center" th:fragment="aside-customer">
        <div class="mb-4">
            <h4><span th:text="${khachHang.taiKhoan.username}"></span></h4>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="/TTAP/user/detail/view">
                    Hồ sơ
                    <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
                </a>
            </li>
            <li class="list-group-item">
                <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="/TTAP/user/detail/viewDiachi">
                    Địa chỉ
                    <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
                </a>
            </li>
            <li class="list-group-item">
                <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="/TTAP/user/detail/viewChangePass">
                    Thay đổi mật khẩu
                    <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
                </a>
            </li>
            <li class="list-group-item">
                <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="#">
                    Mã giảm giá
                    <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
                </a>
            </li>
        </ul>
    </div>

