<header th:fragment="header-customer" class="header" style="background: #F3F6FA">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header__logo">
          <a href="#"><img th:src="@{/images/logo2tap.jpg}"
                           style="width: 125px" alt="" /></a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="header__menu">
          <ul>
            <li th:classappend="${requestURI == '/TTAP/trang-chu'} ? 'active'">
              <a th:href="@{/TTAP/trang-chu}">Trang chủ</a>
            </li>
            <li th:classappend="${requestURI == '/TTAP/san-pham'} ? 'active'">
            <a th:href="@{/TTAP/san-pham}">Sản phẩm</a>
          </li>
<!--            <li class="nav-item dropdown">-->
<!--              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                Dịch vụ-->
<!--              </a>-->
<!--              <ul class="dropdown-menu">-->
<!--                <li><a class="dropdown-item" href="/TTAP/chinh-sach-van-chuyen" style="margin-left: 5px; font-weight: normal; font-style: normal">Chính sách vận chuyển</a></li>-->
<!--                <li><a class="dropdown-item" href="/TTAP/chinh-sach-doi-tra" style="margin-left: 5px; font-weight: normal; font-style: normal">Chính sách đổi trả</a></li>-->
<!--                <li><a class="dropdown-item" href="/TTAP/chinh-sach-bao-mat" style="margin-left: 5px; font-weight: normal; font-style: normal">Chính sách bảo mật</a></li>-->
<!--                <li><a class="dropdown-item" href="/TTAP/chinh-sach-xu-ly-khieu-lai" style="margin-left: 5px; font-weight: normal; font-style: normal">Chính sách khiêu nại</a></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li class="nav-item dropdown">-->
<!--              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                Hỗ trợ-->
<!--              </a>-->
<!--              <ul class="dropdown-menu">-->
<!--                <li><a class="dropdown-item" href="/TTAP/huong-dan-mua-hang" style="margin-left: 5px; font-weight: normal; font-style: normal">Hướng dẫn mua hàng</a></li>-->
<!--                <li><a class="dropdown-item" href="/TTAP/hinh-thuc-thanh-toan" style="margin-left: 5px; font-weight: normal; font-style: normal">Hình thức thanh toán</a></li>-->
<!--                <li><a class="dropdown-item" href="/TTAP/lien-he" style="margin-left: 5px; font-weight: normal; font-style: normal">Liên hệ</a></li>-->
<!--              </ul>-->
<!--            </li>-->
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="header__cart">
          <ul>
            <li class="open-cart">
              <a href="/TTAP/cart/view"><i class="fa fa-shopping-bag"></i>
              </a>
            </li>
            <li class="account-hover">
              <div class="header__top__right__auth">
                <a href="#"  th:text="${userLogged != null ? 'Xin Chào: ' + userLogged.username : 'Chưa Đăng Nhập'}">
                  <i class="fa fa-user"></i>
                </a>

                <div class="account-form">
                  <a href="/TTAP/user/detail/view" class="d-flex align-items-center gap-2 dropdown-item">
                    <i class="fa fa-user fs-6"></i>
                    Tài khoản của tôi
                  </a>
                  <a href="/TTAP/cart/hoa-don" class="d-flex align-items-center gap-2 dropdown-item">
                    <i class="ti ti-list-check fs-6"></i>
                    Đơn hàng
                  </a>
                  <a th:if="${userLogged==null}" href="/login" class="d-flex align-items-center gap-2 dropdown-item">
                    <i class="ti ti-list-check fs-6"></i>
                    Đăng nhập
                  </a>
                  <a th:if="${userLogged!=null}" href="/logout" class="d-flex align-items-center gap-2 dropdown-item">
                    <i class="fa fa-sign-out fs-6"></i>
                    Đăng xuất
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>