<header th:fragment="header-customer" class="header" style="background: #F3F6FA">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header__logo">
          <a href="#"><img th:src="@{/images/logo2tap.jpg}"
                           style="width: 125px" alt="" /></a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="header__menu">
          <ul>
            <li th:classappend="${requestURI == '/TTAP/trang-chu'} ? 'active'">
              <a th:href="@{/TTAP/trang-chu}">Trang chủ</a>
            </li>
            <li th:classappend="${requestURI == '/TTAP/san-pham'} ? 'active'">
            <a th:href="@{/TTAP/san-pham}">Sản phẩm</a>
          </li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="header__cart">
          <ul>
            <li class="open-cart">
              <a href="/TTAP/cart/view"><i class="fa fa-shopping-bag">Gio hang</i>
              </a>
            </li>
            <li class="account-hover">
              <div class="header__top__right__auth">
                <a href="#"  th:text="${userLogged != null ? 'Xin Chào ' + userLogged.username : 'Chưa Đăng Nhập'}">
                  <i class="fa fa-user"></i>
                </a>

                <div class="account-form">
                  <a href="/TTAP/user/detail/view" class="d-flex align-items-center gap-2 dropdown-item">
                    <i class="fa fa-user fs-6"></i>
                    Tài khoản của tôi
                  </a>
                  <a href="/TTAP/cart/hoa-don" class="d-flex align-items-center gap-2 dropdown-item">
                    <i class="ti ti-list-check fs-6"></i>
                    Đơn hàng
                  </a>
                  <a th:if="${userLogged==null}" href="/login" class="d-flex align-items-center gap-2 dropdown-item">
                    <i class="ti ti-list-check fs-6"></i>
                    Đăng nhập
                  </a>
                  <a th:if="${userLogged!=null}" href="/logout" class="d-flex align-items-center gap-2 dropdown-item">
                    <i class="fa fa-sign-out fs-6"></i>
                    Đăng xuất
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>