<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/head :: head}"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="~{/fragment/header :: header}"></div>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <div th:replace="~{/fragment/aside :: aside}"></div>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Bán hàng tại quầy
                <small>it all starts here</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Blank page</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="col-xs-12">
                <div class=" box">
                    <a class="btn btn-primary" href="/TTAP/Admin/ChucVu/new">Them</a>
                    <div class="container">
                        <div>
                            <h1>Danhh sách người dùng</h1>
                            <table border="1" class="table">
                                <thead>
                                <th>#</th>
                                <th>Mã</th>
                                <th>Tên Chức vụ</th>
                                <th>Thao tác</th>
                                </thead>
                                <tbody>
                                <tr th:each="cv, stt : ${cvLst}">
                                    <td th:text="${stt.index + 1}"></td>
                                    <td th:text="${cv.ma}"></td>
                                    <td th:text="${cv.ten}"></td>
                                    <td>
                                        <a class="btn btn-danger" th:href="@{/TTAP/Admin/ChucVu/delete/{id}(id = ${cv.id})}">Xóa</a>
                                        <a class="btn btn-primary" th:href="@{/TTAP/Admin/ChucVu/detail/{id}(id = ${cv.id})}">Thông tin chi tiết</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="~{/fragment/footer :: footer}"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<div th:replace="~{/fragment/script :: script}"></div>
</body>
</html>
