<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <div th:replace="~{/fragment/head :: head}"></div>
</head>
<body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const links = document.querySelectorAll('a.nav-link');

        links.forEach(link => {
            link.addEventListener('click', function () {
                links.forEach(l => l.classList.remove('active'));
                link.classList.add('active');
                updateMainContent(link.getAttribute('data-url'));
            });
        });

        function updateMainContent(url) {
            $.ajax({
                url: url,
                type: 'GET',
                success: function(response) {
                    $('#main-content').html(response);
                },
                error: function(error) {
                    console.log('Error:', error);
                }
            });
        }

</script>

<div class="row">
    <div class="col-2" th:replace="~{/fragment/sidebar :: sidebar}"></div>
    <div class="main-content col-10" id="main-content">
    </div>
</div>
</body>
</html>
