<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>TTAP T-SHIRT</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="shortcut icon" type="image/png"
          th:href="@{/images/logo2tap.jpg}" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link th:href="@{/customercss/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/elegant-icons.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/nice-select.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/jquery-ui.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/owl.carousel.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/slicknav.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/style.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/style-customer.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/cart-hover.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/customcss/toastMessage.css ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<header th:replace="~{/fragment/header-customer :: header-customer}"></header>
<div class="container">
    <h2 class="text-center">CHÍNH SÁCH ĐỔI TRẢ</h2>
    <h3> I. Quy định đổi trả</h3>
    <p><strong>1. Các trường
        hợp được đổi
        trả:</strong><br>

        • Hàng bị lỗi kĩ
        thuật và lỗi do nhà
        sản xuất.<br>
        • Hàng bị hư hỏng do
        quá trình vận chuyển
        cho khách.<br>
        • Hàng không đúng
        mẫu mã, loại mà
        khách đã đặt.<br>
        • Hàng không vừa
        size.<br> <br>
        <strong>2. Điều kiện
            và quy định đổi
            trả
            chung:</strong><br>
        • Đối với sản phẩm
        lỗi, khách hàng có
        thể đổi sang sản
        phẩm khác trong vòng
        10 ngày kể từ khi
        nhận hàng.<br>
        • Sản phẩm phải còn
        đầy đủ gói hộp, phụ
        kiện đi kèm và chưa
        qua sử dụng, không
        bị dơ bần. Khi thử
        sản phẩm, quý khách
        nên mang tất và thử
        giày trên niền sạch
        để đám bảo sản phẩm
        không bì lấm
        bẩn.<br>
        • Đối với việc đổi
        sản phẩm có giá trị
        cao hơn, khách hàng
        phải bù thêm
        tiền.<br>
        • Đối với sản phẩm
        có giá trị thấp hơn,
        chúng tôi sẽ hoàn
        lại số tiền
        thừa.<br> <br>
    </p>
    <h3> II. Quy định hoàn tiền</h3>
    <p><strong>1. Các
        trường hợp
        được hoàn
        tiền:</strong><br>

        • Hàng lỗi kỹ
        thuật hoặc do
        nhà sản
        xuất.<br>
        • Hàng hỏng do
        vận chuyển cho
        khách.<br>
        • Hàng không
        đúng mẫu mã,
        loại mà khách đã
        đặt.<br>
        • Sản phẩm không
        đúng mẫu mã hoặc
        loại khách đã
        đặt.<br>
        • Hết hàng hoặc
        hết size ưng ý
        để đổi trả.<br>
        <br>
        <strong>2. Điều
            kiện và quy
            định Hoàn
            tiền:</strong><br>
        • Khách hàng sẽ
        được nhận hoàn
        tiền trong vòng
        10 ngày cho sản
        phẩm lỗi hoặc
        khi sản phẩm đã
        hết hàng, hết
        size.<br>
        • Sản phẩm phải
        còn nguyên vẹn,
        chưa qua sử
        dụng, và không
        bị dơ bẩn.<br>
        • Đối với việc
        đổi sản phẩm có
        giá trị cao hơn,
        khách hàng phải
        bù thêm
        tiền.<br>
        • Đối với việc
        hoàn tiền cho
        sản phẩm có giá
        trị thấp hơn,
        khách hàng có
        thể nhận lại số
        tiền dư qua tiền
        mặt hoặc chuyển
        khoản.<br> <br>
    </p>
    <br><br><br><br>
    <p>Nếu quý khách có bất
        kì thắc mắc về sản
        phẩm hoặc chương
        trình khuyến mãi.
        Vui lòng liên hệ với
        chúng tôi qua
        hotline 0999.353.444
        theo giờ làm việc
        dưới mục thông tin
        để nhận hỗ trợ sớm
        nhất.
        <i>Ttaptshirt.vn</i>
        không tiếp nhận cuộc
        gọi ngoài thời gian
        làm việc. Xin cảm
        ơn.</p>
</div>
<footer th:replace="~{/fragment/footer-customer :: footer-customer}"></footer>
</body>
</html>