<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>TTAP T-SHIRT</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="shortcut icon" type="image/png"
          th:href="@{/images/logo2tap.jpg}" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet" />
    <link th:href="@{/customercss/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link th:href="@{/customercss/elegant-icons.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/nice-select.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/jquery-ui.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/owl.carousel.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/slicknav.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/style.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/style-customer.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/customercss/cart-hover.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<header th:replace="~{/fragment/header-customer :: header-customer}"></header>
<div class="container">
    <h2 class="text-center">HƯỚNG DẪN MUA HÀNG</h2>
    <br>

    <h3>MUA HÀNG TRỰC TIẾP TẠI CỬA HÀNG</h3><br>

    Địa chỉ: 07 Trịnh Văn Bô – Bắc Từ Liêm – Hà Nội.
    Hotline: 091.338.3655
    Thời gian làm việc: Thứ 2 – Chủ Nhật từ 8h00 đến 22h00.
    <br>
    <br>
    <h3>MUA HÀNG ONLINE QUA WEBSITE</h3><br>


    <h4>3 bước mua hàng đơn giản qua website TTAPTShirt.vn:</h4>

    Bước 1: Truy cập website TTAPTShirt.vn.<br>
    Bước 2: Tìm kiếm sản phẩm cần mua, chọn size áo, số lượng.<br>
    Bước 3: Đặt hàng:<br>
    – Điền đầy đủ thông tin mua hàng theo yêu cầu.<br>
    – Chọn hình thức giao hàng.<br>
    – Nhấn đặt hàng để hoàn tất.<br>
    <br>
    <br>
    Lưu ý: Đơn hàng của quý khách sẽ được xử lý trong vòng 24h kể từ khi đặt hàng. Vui lòng giữ điện thoại ở chế độ chuông để nhân viên tư vấn thuận tiện liên lạc với quý khách.
    <br>
    <br>
    Nếu quý khách có bất kì thắc mắc về sản phẩm hoặc chương trình khuyến mãi. Vui lòng liên hệ với chúng tôi qua hotline 091.338.3655 theo giờ làm việc dưới mục thông tin để nhận hỗ trợ sớm nhất. TTAPTShirt.vn không tiếp nhận cuộc gọi ngoài thời gian làm việc. Xin cảm ơn.
</div>

<footer th:replace="~{/fragment/footer-customer :: footer-customer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>