.modal-xl {
    max-width: 90%; /* Adjust the width as needed */
    width: 90%;
}

.modal-body {
    max-height: 70vh; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scroll if content is too long */
}
 /*Modal styling */
.modal-soLuongSua {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
