.modal-xl {
    max-width: 90%; /* Adjust the width as needed */
    width: 90%;
}

.modal-body {
    max-height: 70vh; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scroll if content is too long */
}
