<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TTAP</title>
    <link rel="stylesheet" href="/customcss/banhang.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="d-flex">

    <div th:replace="~{/fragment/sidebar :: sidebar}"></div>
    <div class="main-content content flex-grow-1 p-4" style="width: 80%">
        <div class="d-flex">
            <a href="" class="fw-bolder fs-5 text-black" style="text-decoration:none">Hoá đơn</a>
        </div>
        <form th:action="@{/admin/hoa-don/tim-kiem}" method="get" class="d-flex row">
            <h5 class="text-center">Tìm kiếm/lọc</h5>
            <input type="hidden" th:value="${id}" name="id">
            <div class="mb-3 col-4">
                <label for="ma" class="form-label">Mã hóa đơn</label>
                <input type="text" class="form-control" id="ma" name="ma" th:value="${ma}" placeholder="Mã hóa đơn">
            </div>
<!--            <div class="mb-3 col-4">-->
<!--                <label for="keyword" class="form-label">Tìm kiếm</label>-->
<!--                <input type="text" class="form-control" id="keyword" name="keyword" th:value="${keyword}">-->
<!--            </div>-->
            <div class="mb-3 col-4">
                <label for="keyword" class="form-label">Khách hàng</label>
                <input type="text" class="form-control" id="keyword" name="keyword" th:value="${keyword}" placeholder="Tên, SĐT, Email">
            </div>
<!--            <div class="mb-3 col-4">-->
<!--                <label for="tennv" class="form-label">Tên nhân viên</label>-->
<!--                <input type="text" class="form-control" id="tennv" name="tennv" th:value="${tennv}">-->
<!--            </div>-->
<!--            <div class="mb-3 col-4">-->
<!--                <label for="sdt" class="form-label">Số điện thoại khách hàng</label>-->
<!--                <input type="text" class="form-control" id="sdt" name="sdt" th:value="${sdt}">-->
<!--            </div>-->
            <div class="col-4">
                <label class="form-label">Trạng thái</label>
                <select class="form-select" aria-label="Default select example" name="trangThai">
                    <option selected value="">Tất cả</option>
                    <!--                    <option value="0" th:selected="${trangThai==0}">Chưa thanh toán</option>-->
                    <option value="0" th:selected="${trangThai==0}">Chưa thanh toán</option>
                    <option value="1" th:selected="${trangThai==1}">Đã thanh toán</option>
                    <option value="2" th:selected="${trangThai==2}">Đã hủy</option>
<!--                    <option value="-1" th:selected="${trangThai==-1}">Giao hàng thất bại</option>-->
                    <option value="3" th:selected="${trangThai==3}">Chờ xác nhận</option>
                    <option value="6" th:selected="${trangThai==6}">Đã xác nhận</option>
                    <option value="7" th:selected="${trangThai==7}">Chuẩn bị hàng</option>
                    <option value="8" th:selected="${trangThai==8}">Chờ vận chuyển</option>
                    <option value="9" th:selected="${trangThai==9}">Đang giao hàng</option>
                    <option value="10" th:selected="${trangThai==10}">Đã giao hàng</option>
                </select>
            </div>
            <div class="mb-3 col-4">
                <label for="ngayThanhToan" class="form-label">Ngày thanh toán</label>
                <input type="date" class="form-control" id="ngayThanhToan" name="ngayThanhToan" th:value="${ngayThanhToan}">
            </div>
            <div class="col-4">
                <label class="form-label">Loại đơn</label>
                <select class="form-select" aria-label="Default select example" name="loaiDon">
                    <option selected value="">Tất cả</option>
                    <option value="1" th:selected="${loaiDon==1}">Tại quầy</option>
                    <option value="0" th:selected="${loaiDon==0}">Online</option>
                </select>
            </div>
            <div class="col-12 justify-content-center">
                <button type="submit" class="btn btn-primary col-3">Tìm kiếm</button>
            </div>
        </form>
        <div class="">
            <h1 class="text-center">Hóa đơn</h1>
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã</th>
                    <!--            <th scope="col">Nhân viên</th>-->
                    <th>Khách hàng</th>
                    <th>SĐT</th>
                    <th>Loại đơn</th>
                    <th>Ngày thanh toán</th>
                    <!--                    <th scope="col">SĐT người nhận</th>-->
                    <!--                    <th scope="col">Tên người nhận</th>-->
                    <th>Tiền ban đầu</th>
                    <th>Phí vận chuyển</th>
                    <th>Tiền giảm</th>
                    <th>Tổng tiền</th>
<!--                    <th>Mã giảm giá</th>-->
                    <th>Trạng thái</th>
                    <th>Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="hd, stat: ${listHD}" >
                    <td th:text="${stat.index+1}"></td>
                    <td th:text="${hd.ma}"></td>
                    <!--            <td th:text="${hd.nhanVien != null ? hd.nhanVien.hoTen : 'Không có'}"></td>-->
                    <td th:text="${hd.khachHang != null ? hd.khachHang.hoTen :'Vãng lai'}"></td>
                    <td th:text="${hd.khachHang != null && hd.khachHang.soDienThoai != null ? hd.khachHang.soDienThoai :'Không có'}"></td>
                    <td th:text="${hd.loaiDon == 1 ? 'Tại quầy' : 'Online'}"
                        th:class="${hd.loaiDon == 1 ? 'text-primary' : 'text-success'}">
                    </td>
                    <td th:text="${hd.ngayThanhToan ?: 'Không có'}"></td>
<!--                    <td th:text="${hd.sdtNguoiNhan ?: 'Không có'}"></td>-->
<!--                    <td th:text="${hd.tenNguoiNhan ?: 'Không có'}"></td>-->
                    <td th:text="${hd.tongTien != null?numberUtils.formatCurrency(hd.tongTien): 'Không có'}"></td>
                    <td th:text="${hd.tienShip != null? numberUtils.formatCurrency(hd.tienShip) : 'Không có'}"></td>
                    <td th:text="${hd.soTienGiamGia != null?numberUtils.formatCurrency(hd.soTienGiamGia): 'Không có'}"></td>
                    <td th:text="${hd.tienThu != null?numberUtils.formatCurrency(hd.tienThu): 'Không có'}"></td>
<!--                    <td th:text="${hd.maGiamGia != null ? numberUtils.formatCurrency2(hd.maGiamGia.giaTriGiam) + (hd.maGiamGia.hinhThuc?'VND':'%') : 'Không có'}"></td>-->
                    <td>
    <span th:classappend="${hd.trangThai == 0 ? 'text-warning' :
                          hd.trangThai == 1 ? 'text-success' :
                          hd.trangThai == 2 ? 'text-danger' :
                          hd.trangThai == -1 ? 'text-danger' :
                          hd.trangThai == 3 ? 'text-primary' :
                          hd.trangThai == 6 ? 'text-primary' :
                          hd.trangThai == 7 ? 'text-primary' :
                          hd.trangThai == 8 ? 'text-primary' :
                          hd.trangThai == 9 ? 'text-info' :
                          hd.trangThai == 10 ? 'text-success' : 'text-info'}">
        <span th:text="${hd.trangThai == 0 ? 'Chưa thanh toán' :
                        hd.trangThai == 1 ? 'Đã thanh toán' :
                        hd.trangThai == 2 ? 'Đã hủy' :
                        hd.trangThai == -1 ? 'Khách từ chối nhận' :
                        hd.trangThai == 3 ? 'Chờ xác nhận' :
                        hd.trangThai == 6 ? 'Đã xác nhận' :
                        hd.trangThai == 7 ? 'Chuẩn bị hàng' :
                        hd.trangThai == 8 ? 'Chờ vận chuyển' :
                        hd.trangThai == 9 ? 'Đang giao hàng' :
                        hd.trangThai == 10 ? 'Đã giao hàng' :
                        'không xác định'}">
        </span>
    </span>
                    </td>
                    <td>
                        <a th:if="${hd.loaiDon==1}" th:href="@{/admin/hoa-don/chi-tiet-hoa-don/{id}(id=${hd.id})}" class="btn btn-info">Chi tiết</a>
                        <a th:if="${hd.loaiDon==0}" th:href="@{/admin/hoa-don/chi-tiet-hoa-don-online/{id}(id=${hd.id})}" class="btn btn-info">Chi tiết</a>
                    </td>

                </tr>
                </tbody>
            </table>
            <h5 class="text-center">[[${nullhd}]]</h5>
            <div class="justify-content-center d-flex mb-5"
                 style="display: flex; justify-content: center; align-items: center; gap: 1rem; font-family: Arial, sans-serif; padding: 10px; border-radius: 8px; background-color: #f9f9f9; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); transition: all 0.3s ease;">
                <a style="padding: 8px 16px; font-size: 14px; border: 2px solid #007bff; color: #007bff; border-radius: 5px; transition: background-color 0.3s, color 0.3s; text-align: center; min-width: 100px;" th:href="@{/admin/hoa-don/tim-kiem?(page=${page <= 0 ? 0 : page - 1},ma=${ma},tenkh=${tenkh},tennv=${tennv},sdt=${sdt},ngayThanhToan=${ngayThanhToan},trangThai=${trangThai},keyword=${keyword},loaiDon=${loaiDon},id=${id})}" class="btn btn-outline-primary">Trang trước</a>
                <input type="text"
                       style="max-width: 60px; height: 35px; font-size: 14px; border: 1px solid #ccc; border-radius: 5px; text-align: center; transition: border-color 0.3s; outline: none;"
                       class="form-control-sm text-center"
                       th:value="${page+1}"
                       onchange="changePage(this.value)"
                       id="input-page">
                <a style="padding: 8px 16px; font-size: 14px; border: 2px solid #007bff; color: #007bff; border-radius: 5px; transition: background-color 0.3s, color 0.3s; text-align: center; min-width: 100px;" th:href="@{/admin/hoa-don/tim-kiem?(page = ${page+1},ma=${ma},tenkh=${tenkh},tennv=${tennv},sdt=${sdt},ngayThanhToan=${ngayThanhToan},trangThai=${trangThai},keyword=${keyword},loaiDon=${loaiDon},id=${id})}" class="btn btn-outline-primary">Trang sau</a>
            </div>

        </div>
    </div>
</div>
</body>
<script>
    let pageInput = document.getElementById('input-page').value;
    let linkSearch = new URLSearchParams(window.location.search);
    let page = parseInt(pageInput)

    function changePage(page){
        if (page >= 1) {
            linkSearch.set('page', page-1); // Cập nhật giá trị 'page'
        } else {
            linkSearch.set('page', 0); // Nếu page nhỏ hơn 1, đặt thành 0
        }

        // Cập nhật lại URL với các tham số đã sửa
        window.location.href = window.location.origin + '/admin/hoa-don/tim-kiem?' + linkSearch.toString();
    }

</script>
</html>
